<p class="collapsible" id="add-your-own-collapsible"><strong>Or, add your own manually.</strong></p>
<div class="collapsible-content">
  <form class="label-infield" id="frm-addown">
    <fieldset>
      <p>
      <label for="field-prodname">Enter a product name or brand</label>
      <br />
      <input type="text" name="field-prodname" value="" id="field-prodname" class="field-prodname">
      <a href="#" class="add-your-own-button button bt-color"><span class="ss-plus"></span>Add</a>
      </p>
    </fieldset>
  </form>
</div>
