 Buy at
  <!-- drop-down menu: when to buy -->
  <div class="choicedrop"> <a href="#">{{listItem.age}} <span class="ss-dropdown"></span></a>
    <ul style="display:none; width:6em;">
      <li><a href="#">Pre-birth</a></li>
      <li><a href="#">0-3 mo</a></li>
      <li><a href="#">4-6 mo</a></li>
      <li><a href="#">7-12 mo</a></li>
      <li><a href="#">13-18 mo</a></li>
      <li><a href="#">19-24 mo</a></li>
      <li><a href="#">2y</a></li>
      <li><a href="#">3y</a></li>
      <li><a href="#">4y</a></li>
      <li><a href="#">5y+</a></li>
    </ul>
  </div>
