<!-- baby gear table ******* -->
<table width="100%" cellspacing="0" id="babygear">
  <thead>
    <tr>
      <th scope="col" class="own">Own</th>
      <th scope="col" class="item">Item</th>
      <th scope="col" class="rating">Rating</th>
      <th scope="col" class="when">When to Buy</th>
      <th scope="col" class="priority">Priority</th>
    </tr>
  </thead>
  <tbody id="list-items">
  </tbody>
</table>
<!-- end baby gear table ******* -->

