<h4 id="priority-high-hed" class="priority priority-high collapsible"><strong>Must-Have</strong></h4>
<div class="priority-high collapsible-content">
</div>
<h4 id="priority-med-hed" class="priority collapsible"><strong>Consider</strong></h4>
<div class="priority-med collapsible-content">
</div>
<h4 id="priority-low-hed" class="priority collapsible ss-directright"><strong>Don’t Bother</strong></h4>
<div class="priority-low collapsible-content">
</div>
<h4 id="priority-new-hed" class="priority"><strong>Add an Item</strong></h4>

<div class="prod clearfix" id="add-new">
  <div class="prod-thumb"> <img alt="" src="{{assetPath "products/icons/add_new@2x.png"}}"> </div>
  <div class="prod-category"> Looking for something not listed above? Add it here.</div>
  <div class="prod-links">
    <ul>
      <li><a class="new-item button bt-color" href="#"><span class="ss-plus"></span>Add new</a></li>
    </ul>
  </div>
</div>
