<td class="own"></td>
<td class="item">
  <div class="prod-thumb">
    <img id="list_item_image" src="{{listItem.image_url}}" alt="new Mamajamas Item">
  </div>
  <form class="new-placeholder">
    <div class="prod-desc">
      <input id="list_item_category_id" name="list_item[category_id]" type="hidden" value="{{listItem.category_id}}">
      <input id="list_item_priority" name="list_item[priority]" type="hidden" value="{{listItem.priority}}">
      <input id="list_item_age" name="list_item[age]" type="hidden" value="{{listItem.age}}">
      <div class="prod-category">
        <fieldset>
          <p>
          <label for="list_item_name">Enter the name of a new item here</label>
          <br />
          <input type="text" name="list_item[name]" value="" id="list_item_name">
          </p>
        </fieldset>
      </div>
      <div class="prod-links">
        <ul>
          <li>
            <a href="#" class="save-item button bt-color"><span class="ss-check"></span>Save</a>
          </li>
          <li>
            <button type="reset" value="Cancel" class="cancel-item button bt-light">Cancel</button>
          </li>
        </ul>
      </div>
    </div>
  </form>
</td>
<td class="rating">&nbsp;</td>
