<!-- product image -->
<div class="prod-thumb"> <img src="{{assetPath "products/blank-mamabird.png"}}" alt="New Item"> </div>

<!-- product description -->
<div class="prod-desc clearfix">
  <form class="new-placeholder">
    <!-- product category, name, rating -->
    <div class="prod-cat-name-rating">
      <div class="prod-category">
        <fieldset>
          <p>
            <label for="new_list_item_name">
              Enter the name of an item (i.e. Wipes Warmer, Stretch Mark Cream)</label>
            <br />
            <input type="text" id="new_list_item_name" value="" name="list_item[name]" class="ui-autocomplete-input" autocomplete="off">
          </p>
        </fieldset>
      </div>
    </div>

    <!-- when to buy, need vs. have -->
    <div class="prod-when-own">
    </div>
    <!-- end when to buy, need vs. have -->

    <!-- save-cancel buttons [shown in edit state] -->
    <div class="prod-links">
      <ul>
        <li>
          <button class="cancel-item button bt-light" value="Reset" type="reset">Cancel</button>
        </li>
        <li>
          <a class="save-item button bt-color" href="#">Save</a>
        </li>
      </ul>
    </div>
    <!-- end save-cancel buttons -->

    <div class="prod-edit-menu">
      <ul>
      </ul>
    </div>

    <!-- end product description -->
  </form>
</div>
