 Priority:
  <div class="choicedrop"> <a href="#">{{priorityIndicator listItem.priority}} <span class="ss-dropdown"></span></a>
    <ul style="display:none; width:7.5em;">
      <li><a href="#1" data-priority="1">Must-Have</a></li>
      <li><a href="#2" data-priority="2">Consider</a></li>
      <li><a href="#3" data-priority="3">Don’t Bother</a></li>
    </ul>
  </div>
