{{priorityIndicator listItem.priority}}
<!-- drop-down menu: priority -->
<div class="prod-drop">
  <div class="prod-drop-arrow"><span class="ss-icon">dropdown</span></div>
  <ul class="visuallyhidden">
    <li class="hed">Priority:</li>
    <li class="priority-high"><a href="#"><strong>!!</strong> Get it</a></li>
    <li class="priority-med"><a href="#"><strong>!</strong> Consider it</a></li>
    <li class="priority-low"><a href="#"><strong>x</strong> Don't bother</a></li>
  </ul>
</div>
