 I
  <div class="choicedrop have-need"> <a href="#">{{haveNeed listItem.owned}} <span class="ss-dropdown"></span></a>
    <ul style="display:none; width:4.1em;">
      <li><a href="#">want</a></li>
      <li><a href="#">have</a></li>
    </ul>
  </div>
  <div class="choicedrop quantity"> <a href="#">{{listItem.quantity}} <span class="ss-dropdown"></span></a>
    <ul style="display:none; width:2.4em;">
      <li><a href="#1">1</a></li>
      <li><a href="#2">2</a></li>
      <li><a href="#3">3</a></li>
      <li><a href="#4">4</a></li>
      <li><a href="#5">5</a></li>
      <li><a href="#6">6</a></li>
      <li><a href="#7">7</a></li>
      <li><a href="#8">8</a></li>
      <li><a href="#9">9</a></li>
      <li><a href="#10">10</a></li>
    </ul>
  </div>
  of these.
