  {{quantityLabel}}
  <div class="choicedrop quantity"> <a href="#">{{quantity}} <span class="ss-dropdown"></span></a>
    <ul style="display:none; width:2.4em;">
      <li><a href="#0">0</a></li>
      <li><a href="#1">1</a></li>
      <li><a href="#2">2</a></li>
      <li><a href="#3">3</a></li>
      <li><a href="#4">4</a></li>
      <li><a href="#5">5</a></li>
      <li><a href="#6">6</a></li>
      <li><a href="#7">7</a></li>
      <li><a href="#8">8</a></li>
      <li><a href="#9">9</a></li>
      <li><a href="#10">10</a></li>
    </ul>
  </div>
