<a class="product-image" href="#"><img src="{{medium_image_url}}" alt="" /></a>
<div class="prod-detail-pop">
  <h4>{{name}}</h4>
  <p class="detail-price">
    {{price}} <em>on Amazon.com</em>
  </p>
  <div class="prod-links">
    <ul>
      <li>
        <a href="#" class="add-to-list button bt-color"><span class="ss-plus"></span>Add to List</a>
      </li>
      <li>
        <a href="{{url}}" class="button bt-buy" target="_blank">
          Buy on <em>Amazon</em>
        </a>
      </li>
    </ul>
  </div>
  <span class="arrow"></span>
</div>
