<div class="modal-overlay"> &nbsp; </div>
<div class="vertical-offset"></div>
<!-- modal window box -->
<div class="modal-box" id="search-modal">
  <!-- modal window header -->
  <h2>Find <strong>{{product_type_plural_name}}</strong></h2>
  <a href="#" id="closewindow" class="ss-icon"><span>Close</span></a>
  <!-- modal window content -->
  <div class="content">
    <div id="prod-search">
      <form method="POST" class="label-infield" id="frm-prod-search">
        <fieldset>
          <p>
          <label for="field-search">Search for {{product_type_plural_name}} on Amazon</label>
          <br />
          <input name="field-search" type="text" id="field-search" value="">
          </p>
        </fieldset>
      </form>
    </div>
    <div id="prod-search-results">
      <ul class="prod-search-list clearfix search-results">
        <div class="progress-container">
          <img src="/assets/progress-bar.gif" class="progress" style="display: none;" />
        </div>
        <p class="no-search-results" style="display: none;">No results found</p>
      </ul>
      <h3>Suggested {{product_type_plural_name}}</h3>
      <ul class="prod-search-list clearfix suggestions">
        <p class="no-search-results" style="display: none;">No suggestions found</p>
      </ul>
    </div>
  </div>
  <!-- end modal window content -->
</div>
<!-- end modal window box -->
