<a href="#"><img src="/assets/search/41rAtd-pLKL._SL105_.jpg" alt="" /></a>
<div class="prod-detail-pop">
  <h4>Safety 1st Swivel Bath Seat Dark Blue</h4>
  <p class="detail-price">$29.99</p>
  <div class="detail-rating-mj rating">
    <div class="eggs">
      <div class="egg egg-full"></div>
      <div class="egg egg-full"></div>
      <div class="egg egg-full"></div>
      <div class="egg egg-full"></div>
      <div class="egg"></div>
    </div>
    Mamajamas rating
  </div>
  <div class="detail-rating-am rating">
    <div class="stars">
      <div class="star star-full"></div>
      <div class="star star-full"></div>
      <div class="star star-full"></div>
      <div class="star"></div>
      <div class="star"></div>
    </div>
    Amazon rating
  </div>
  <div class="prod-links">
    <ul>
      <li>
        <a href="#" class="button bt-color"><span class="ss-plus"></span>Add to List</a>
      </li>
      <li>
        <a href="#" class="button"><span class="ss-cart"></span>Buy</a>
      </li>
    </ul>
  </div>
  <span class="arrow"></span> 
</div>
