<a class="product-image" href="#"><img src="{{image_url}}" alt="" /></a>
<div class="prod-detail-pop">
  <h4>{{name}}</h4>
  <p class="detail-price">{{price}}</p>
  <div class="detail-rating-mj rating">
    <div class="eggs">
      <div class="egg egg-full"></div>
      <div class="egg egg-full"></div>
      <div class="egg egg-full"></div>
      <div class="egg egg-full"></div>
      <div class="egg"></div>
    </div>
    Mamajamas rating
  </div>
  <div class="detail-rating-am rating">
    <div class="stars">
      <div class="star star-full"></div>
      <div class="star star-full"></div>
      <div class="star star-full"></div>
      <div class="star"></div>
      <div class="star"></div>
    </div>
    Amazon rating
  </div>
  <div class="prod-links">
    <ul>
      <li>
        <a href="#" class="add-to-list button bt-color"><span class="ss-plus"></span>Add to List</a>
      </li>
      <li>
      <a href="{{url}}" class="button" target="_blank"><span class="ss-cart"></span>Buy</a>
      </li>
    </ul>
  </div>
  <span class="arrow"></span>
</div>
