<li class="list-search-no-results">
  <img src="{{assetPath "no-result@2x.png"}}" alt="no results">
  <div class="friend-info"> <strong class="mom">No lists found.</strong><br>
  <a href="#" class="clear-list-search button">
    <span class="fa fa-times"></span>Clear search</a>
  </div>
</li>