<%= form_for(resource, :as => resource_name, :url => registrations_facebook_path(resource_name), :html => { :method => :put, :class => "label-infield" }) do |f| %>
  <!-- modal window header -->
  <h2>Create Username</h2>
  <!-- modal window content -->
  <div class="content">
    <p class="instruction">Please choose a username.</p>
    <fieldset>
      <p>
      <%= label_tag "facebook-username", "Username" %>
      <br />
      <%= f.text_field :username, :id => "facebook-username" %>
      <%= field_error resource, :username %>
      </p>
    </fieldset>
  </div>
  <!-- end modal window content --> 
  <!-- window bottom buttons -->
  <div class="button-row">
    <button type="submit" class="button" id="bt-set-username">Continue</button>
  </div>
<% end %>
