<form id="frm-create-account">
  <!-- modal window header -->
  <h2>Sign up</h2>
  <!-- modal window content -->
  <div class="content">
    <p class="instruction">Please sign up. It's quick and free.</p>
    <h3>Account Registration</h3>
    <div class="grid clearfix">
      <div class="col50 float-l">
        <button type="button" class="button" id="bt-fb-connect">Connect with Facebook</button>
        <a href="<%= user_omniauth_authorize_path(:facebook) %>" id="bt-fb-connect-link" style="display: none;">Connect with Facebook</a>
        <p class="note">We will never post or email your friends without your express approval.</p>
        <p class="note light">By clicking Connect with Facebook, you accept the <a href="#">Terms of Service</a>. </p>
      </div>
      <div class="col5 float-l">
        <p class="center">or</p>
      </div>
      <div class="col45 float-r">
        <button type="button" class="button" id="bt-account-email">Create an account with your email address</button>
        <p class="note">But getting recommendations from your friends may be harder if you sign in this way. </p>
      </div>
    </div>
  </div>
  <!-- end modal window content --> 
  <!-- window bottom buttons -->
  <div class="button-row">
    <button type="reset" class="button" id="bt-cancel">Cancel</button>
  </div>
</form>

