<p>
Hi <%= @display_name %>,
</p>

<p>
Thanks so much for sharing your Mamajamas list!
</p>

<p>
Your unique link is: <%= link_to public_list_url(@user), public_list_url(@user) %>
</p>

<p>
Give your link to others who you want to see your list.
</p>

<p>
Here are some great uses for your shared list:
</p>

<ul>
  <li>Share it with family and friends who you might want to see what baby gear you still need (like a subtle registry!).</li>
  <li>Rate the items you own and share your list with other new parents who might need product recommendations.</li>
  <li>Share it on facebook, twitter, pinterest or in your mommy forum to help lots of new or expecting parents!</li>
</ul>

<p>
Best,
<br/>
The Mamajamas Team
</p>
