<p>
Your Mamajamas list has been saved.
</p>

<p>
You can now share your list with spouses, partners, soon-to-be grandparents, best friends, and others you want to see your list.
</p>

<p>
Just cut and paste this unique link into an email: <%= link_to public_list_url(@user), public_list_url(@user) %>
</p>

<p>
Sharing your list allows you to:
</p>

<ul>
  <li>Help family and friends who want to know what baby gear you still need (like a subtle registry!)</li>
  <li>Assist new parents looking for product recommendations (Don't forget to rate the items you own first!)</li>
  <li>Spread the love to lots of new or expecting parents by posting your list on facebook, twitter, pinterest or your favorite mommy forum.</li>
</ul>

<p>
We hope this helps you and other parents during this special time in your lives.
</p>
