<p>
Hi <%= @display_name %>,
</p>
<p>
When I was pregnant with my son a couple years ago, I was pretty overwhelmed by the process of setting up my nursery. I didn't know what to buy (and what not to buy!). Some of my friends who had just had babies sent me lists of what products they recommended, and those lists were so helpful that I decided to make my own list and share it on facebook.
</p>
<p>
That was the beginning of Mamajamas.
</p>
<p>
Mamajamas makes it easier to make and share lists of what to buy for your child. I have spent the last couple of years building and testing it, and I hope that you find it useful!
</p>
<p>
You might want to start by looking at some <%= link_to "other people's lists", friends_url %>, and following people who you like. Here's <a href="http://www.mamajamas.com/angie">my list</a>. Signing in through facebook will help you see if any of your friends already have made lists.
</p>
<p>
Then, you can head to <%= link_to "your list", list_url %> and track the products that you want by adding them there.
</p>
<p>
When you're ready, you can help other moms by sharing your list.
</p>
<p>
If you have any questions or suggestions, please email me at angie@mamajamas.com. I'd love to hear from you!
</p>
<p>
Hope this is helpful and best of luck with all that lies ahead!
</p>
<p>
Best,
<br/>
Angie
</p>
