<p>
  Congrats on creating a Mamajamas registry. By doing so, you have just made your life a little easier. We are going to help you figure out everything you need for that fabulous new baby.
</p>
<p>
  If you haven’t already, you may want to:
</p>
<ul>
  <li><%= link_to "Browse", new_friend_url %> other registries and top baby experts for gift ideas.</li>
  <li>Get the <%= link_to "Mamajamas Bookmark", faq_url(anchor: "faq05") %> so you can add any product from the web to your registry.</li>
</ul>
<p>
  You’ll also want to share your registry with family and friends. (Because who needs five diaper pails, right?!) To do so, use the share button on the top right of your registry. Or go old school and copy and paste the following link:
</p>
<p>
  <%= link_to public_list_url(@user), public_list_url(@user) %>
</p>
<p>
  (You can use this link on your shower invites too.)
</p>
<p>
  If you have any questions, you can email me at <a href="mailto:angie@mamajamas.com">angie@mamajamas.com</a>. I'd love to hear from you!
</p>
<p>
  Best of luck with all that lies ahead!
</p>
