<p>
  Congratulations on creating a Mamajamas registry! Our goal is to make it as easier for you to figure out what you will need for your new baby. If you haven’t already, you may want to
</p>
<ul>
  <li><%= link_to "Browse", new_friend_url %> other new parent registries and top baby experts for gift ideas.</li>
  <li>Get the <%= link_to "Mamajamas Bookmark", faq_url(anchor: "faq05") %> to easily add any product from the web to your registry.</li>
</ul>
<p>
  We hope Mamajamas will help you spend less time thinking about stuff, and more time enjoying pregnancy and new parenthood.
</p>
<p>
If you have any questions or suggestions for Mamajamas, please email me at <a href="mailto:angie@mamajamas.com">angie@mamajamas.com</a>. I'd love to hear from you!
</p>
<p>
Hope this is helpful and best of luck with all that lies ahead!
</p>
