<p>
Hi <%= @display_name %>,
</p>
<p>
Thanks for signing up and creating a Mamajamas list! I hope it will help you spend less time thinking about stuff, and more time enjoying pregnancy and new parenthood.
</p>
<p>
If you haven't already, you may want to check out other people's lists, and follow the lists that you like. For example, here's my <a href="http://www.mamajamas.com/angie">list</a>.
</p>
<p>
When you're ready, you can rate the products you've used and help other moms by sharing your list with them.
</p>
<p>
If you have any questions or suggestions about Mamajamas, please email me at <a href="mailto:angie@mamajamas.com">angie@mamajamas.com</a>. I'd love to hear from you!
</p>
<p>
Hope this is helpful and best of luck with all that lies ahead!
</p>
<p>
Best,
<br/>
Angie
</p>
