--- 
http_interactions: 
- request: 
    method: get
    uri: http://ecs.amazonaws.com/onca/xml?AWSAccessKeyId=AKIAIXAEIBVZBZEU56MQ&AssociateTag=mamajamas-20&ItemPage=1&Keywords=baby&Operation=ItemSearch&ResponseGroup=Large&SearchIndex=Books&Timestamp=2013-05-22T17%3A44%3A37Z&Signature=YGy9gEN4HF1X%2BK06bFiAqXV6MojBW07d3O9cxV73wwg%3D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/xml;charset=UTF-8
      nncoection: 
      - close
    body: 
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" ?><ItemSearchResponse xmlns=\"http://webservices.amazon.com/AWSECommerceService/2011-08-01\"><OperationRequest><HTTPHeaders><Header Name=\"UserAgent\" Value=\"Ruby\"></Header></HTTPHeaders><RequestId>e7a2496d-8096-4884-95f6-54f1e1f71818</RequestId><Arguments><Argument Name=\"Operation\" Value=\"ItemSearch\"></Argument><Argument Name=\"Signature\" Value=\"YGy9gEN4HF1X+K06bFiAqXV6MojBW07d3O9cxV73wwg=\"></Argument><Argument Name=\"ItemPage\" Value=\"1\"></Argument><Argument Name=\"AssociateTag\" Value=\"mamajamas-20\"></Argument><Argument Name=\"Keywords\" Value=\"baby\"></Argument><Argument Name=\"AWSAccessKeyId\" Value=\"AKIAIXAEIBVZBZEU56MQ\"></Argument><Argument Name=\"Timestamp\" Value=\"2013-05-22T17:44:37Z\"></Argument><Argument Name=\"ResponseGroup\" Value=\"Large\"></Argument><Argument Name=\"SearchIndex\" Value=\"Books\"></Argument><Argument Name=\"Service\" Value=\"AWSECommerceService\"></Argument></Arguments><RequestProcessingTime>0.2769340000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemSearchRequest><ItemPage>1</ItemPage><Keywords>baby</Keywords><ResponseGroup>Large</ResponseGroup><SearchIndex>Books</SearchIndex></ItemSearchRequest></Request><TotalResults>145576</TotalResults><TotalPages>14558</TotalPages><MoreSearchResultsUrl>http://www.amazon.com/gp/redirect.html?camp=2025&amp;creative=386001&amp;location=http%3A%2F%2Fwww.amazon.com%2Fgp%2Fsearch%3Fkeywords%3Dbaby%26url%3Dsearch-alias%253Dstripbooks&amp;linkCode=xm2&amp;tag=mamajamas-20&amp;SubscriptionId=AKIAIXAEIBVZBZEU56MQ</MoreSearchResultsUrl><Item><ASIN>0689835604</ASIN><DetailPageURL>http://www.amazon.com/Where-Babys-Belly-Button-Lift-/dp/0689835604%3FSubscriptionId%3DAKIAIXAEIBVZBZEU56MQ%26tag%3Dmamajamas-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0689835604</DetailPageURL><ItemLinks><ItemLink><Description>Technical Details</Description><URL>http://www.amazon.com/Where-Babys-Belly-Button-Lift-/dp/tech-data/0689835604%3FSubscriptionId%3DAKIAIXAEIBVZBZEU56MQ%26tag%3Dmamajamas-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3D0689835604</URL></ItemLink><ItemLink><Description>Add To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3D0689835604%26SubscriptionId%3DAKIAIXAEIBVZBZEU56MQ%26tag%3Dmamajamas-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3D0[...]
