--- 
http_interactions: 
- request: 
    method: get
    uri: http://ecs.amazonaws.com/onca/xml?AWSAccessKeyId=AKIAIXAEIBVZBZEU56MQ&AssociateTag=mamajamas-20&ItemPage=1&Keywords=hungry%20caterpillar&Operation=ItemSearch&ResponseGroup=Large&SearchIndex=Books&Timestamp=2013-05-22T17%3A40%3A40Z&Signature=HWcTOHTihE02GsbzF6XY2ZYWcS4n5JZSr%2BM7Uf1yIB0%3D
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      content-type: 
      - text/xml;charset=UTF-8
      nncoection: 
      - close
    body: 
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" ?><ItemSearchResponse xmlns=\"http://webservices.amazon.com/AWSECommerceService/2011-08-01\"><OperationRequest><HTTPHeaders><Header Name=\"UserAgent\" Value=\"Ruby\"></Header></HTTPHeaders><RequestId>a1af6cf5-1dea-4c6f-9c78-9dba70b43eb7</RequestId><Arguments><Argument Name=\"Operation\" Value=\"ItemSearch\"></Argument><Argument Name=\"Signature\" Value=\"HWcTOHTihE02GsbzF6XY2ZYWcS4n5JZSr+M7Uf1yIB0=\"></Argument><Argument Name=\"ItemPage\" Value=\"1\"></Argument><Argument Name=\"AssociateTag\" Value=\"mamajamas-20\"></Argument><Argument Name=\"Keywords\" Value=\"hungry caterpillar\"></Argument><Argument Name=\"AWSAccessKeyId\" Value=\"AKIAIXAEIBVZBZEU56MQ\"></Argument><Argument Name=\"Timestamp\" Value=\"2013-05-22T17:40:40Z\"></Argument><Argument Name=\"ResponseGroup\" Value=\"Large\"></Argument><Argument Name=\"SearchIndex\" Value=\"Books\"></Argument><Argument Name=\"Service\" Value=\"AWSECommerceService\"></Argument></Arguments><RequestProcessingTime>0.2808470000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemSearchRequest><ItemPage>1</ItemPage><Keywords>hungry caterpillar</Keywords><ResponseGroup>Large</ResponseGroup><SearchIndex>Books</SearchIndex></ItemSearchRequest></Request><TotalResults>718</TotalResults><TotalPages>72</TotalPages><MoreSearchResultsUrl>http://www.amazon.com/gp/redirect.html?camp=2025&amp;creative=386001&amp;location=http%3A%2F%2Fwww.amazon.com%2Fgp%2Fsearch%3Fkeywords%3Dhungry%2Bcaterpillar%26url%3Dsearch-alias%253Dstripbooks&amp;linkCode=xm2&amp;tag=mamajamas-20&amp;SubscriptionId=AKIAIXAEIBVZBZEU56MQ</MoreSearchResultsUrl><Item><ASIN>0399226907</ASIN><DetailPageURL>http://www.amazon.com/Very-Hungry-Caterpillar-Eric-Carle/dp/0399226907%3FSubscriptionId%3DAKIAIXAEIBVZBZEU56MQ%26tag%3Dmamajamas-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0399226907</DetailPageURL><ItemLinks><ItemLink><Description>Technical Details</Description><URL>http://www.amazon.com/Very-Hungry-Caterpillar-Eric-Carle/dp/tech-data/0399226907%3FSubscriptionId%3DAKIAIXAEIBVZBZEU56MQ%26tag%3Dmamajamas-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3D0399226907</URL></ItemLink><ItemLink><Description>Add To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3D0399226907%26SubscriptionId%3DAKIAIXAEIBVZBZEU56MQ%26tag%3Dmamajamas-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN[...]
