--- 
http_interactions: 
- request: 
    method: get
    uri: http://ecs.amazonaws.com/onca/xml?AWSAccessKeyId=AKIAIXAEIBVZBZEU56MQ&AssociateTag=mamajamas-20&ItemPage=1&Keywords=shampoo&Operation=ItemSearch&ResponseGroup=Large&SearchIndex=All&Signature=FLCrB0AUUjaqn7bKZuoIJniPDTs4F%2B%2BWqKI/DXdZijA=&Timestamp=2013-05-30T11:38:13Z
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
      Nncoection: 
      - close
    body: 
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" ?><ItemSearchResponse xmlns=\"http://webservices.amazon.com/AWSECommerceService/2011-08-01\"><OperationRequest><HTTPHeaders><Header Name=\"UserAgent\" Value=\"Ruby\"></Header></HTTPHeaders><RequestId>1e719b85-6c53-4cf2-ae0f-2360f7c8b5bc</RequestId><Arguments><Argument Name=\"Operation\" Value=\"ItemSearch\"></Argument><Argument Name=\"Signature\" Value=\"FLCrB0AUUjaqn7bKZuoIJniPDTs4F++WqKI/DXdZijA=\"></Argument><Argument Name=\"ItemPage\" Value=\"1\"></Argument><Argument Name=\"AssociateTag\" Value=\"mamajamas-20\"></Argument><Argument Name=\"Keywords\" Value=\"shampoo\"></Argument><Argument Name=\"AWSAccessKeyId\" Value=\"AKIAIXAEIBVZBZEU56MQ\"></Argument><Argument Name=\"Timestamp\" Value=\"2013-05-30T11:38:13Z\"></Argument><Argument Name=\"ResponseGroup\" Value=\"Large\"></Argument><Argument Name=\"SearchIndex\" Value=\"All\"></Argument><Argument Name=\"Service\" Value=\"AWSECommerceService\"></Argument></Arguments><RequestProcessingTime>0.2436920000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemSearchRequest><ItemPage>1</ItemPage><Keywords>shampoo</Keywords><ResponseGroup>Large</ResponseGroup><SearchIndex>All</SearchIndex></ItemSearchRequest></Request><TotalResults>136268</TotalResults><TotalPages>13627</TotalPages><MoreSearchResultsUrl>http://www.amazon.com/gp/redirect.html?camp=2025&amp;creative=386001&amp;location=http%3A%2F%2Fwww.amazon.com%2Fgp%2Fsearch%3Fkeywords%3Dshampoo%26url%3Dsearch-alias%253Daws-amazon-aps&amp;linkCode=xm2&amp;tag=mamajamas-20&amp;SubscriptionId=AKIAIXAEIBVZBZEU56MQ</MoreSearchResultsUrl><Item><ASIN>B001QT3GOQ</ASIN><ParentASIN>B005M2KHFO</ParentASIN><DetailPageURL>http://www.amazon.com/Aveeno-Nourish-Moisturize-Shampoo-Ounce/dp/B001QT3GOQ%3FSubscriptionId%3DAKIAIXAEIBVZBZEU56MQ%26tag%3Dmamajamas-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB001QT3GOQ</DetailPageURL><ItemLinks><ItemLink><Description>Technical Details</Description><URL>http://www.amazon.com/Aveeno-Nourish-Moisturize-Shampoo-Ounce/dp/tech-data/B001QT3GOQ%3FSubscriptionId%3DAKIAIXAEIBVZBZEU56MQ%26tag%3Dmamajamas-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB001QT3GOQ</URL></ItemLink><ItemLink><Description>Add To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3DB001QT3GOQ%26SubscriptionId%3DAKIAIXAEIBVZBZEU56MQ%26tag%3Dmamajamas-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativ[...]
