--- 
http_interactions: 
- request: 
    method: get
    uri: http://ecs.amazonaws.com/onca/xml?AWSAccessKeyId=AKIAIXAEIBVZBZEU56MQ&AssociateTag=mamajamas-20&ItemPage=1&Keywords=sjlksdfjlksdjflkdsjk&Operation=ItemSearch&ResponseGroup=Large&SearchIndex=All&Signature=EVdBJDPI4ER5OiW6aQQlpA5/Hw0tXFXu7hBjm13ptbw=&Timestamp=2013-05-23T13:19:08Z
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
      Nncoection: 
      - close
    body: 
      encoding: US-ASCII
      string: <?xml version="1.0" ?><ItemSearchResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header Name="UserAgent" Value="Ruby"></Header></HTTPHeaders><RequestId>a4692859-9514-4c1f-bd3e-e2e47ecb42e5</RequestId><Arguments><Argument Name="Operation" Value="ItemSearch"></Argument><Argument Name="Signature" Value="EVdBJDPI4ER5OiW6aQQlpA5/Hw0tXFXu7hBjm13ptbw="></Argument><Argument Name="ItemPage" Value="1"></Argument><Argument Name="AssociateTag" Value="mamajamas-20"></Argument><Argument Name="Keywords" Value="sjlksdfjlksdjflkdsjk"></Argument><Argument Name="AWSAccessKeyId" Value="AKIAIXAEIBVZBZEU56MQ"></Argument><Argument Name="Timestamp" Value="2013-05-23T13:19:08Z"></Argument><Argument Name="ResponseGroup" Value="Large"></Argument><Argument Name="SearchIndex" Value="All"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument></Arguments><RequestProcessingTime>0.0499190000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemSearchRequest><ItemPage>1</ItemPage><Keywords>sjlksdfjlksdjflkdsjk</Keywords><ResponseGroup>Large</ResponseGroup><SearchIndex>All</SearchIndex></ItemSearchRequest><Errors><Error><Code>AWS.ECommerceService.NoExactMatches</Code><Message>We did not find any matches for your request.</Message></Error></Errors></Request><TotalResults>0</TotalResults><TotalPages>0</TotalPages><MoreSearchResultsUrl>http://www.amazon.com/gp/redirect.html?camp=2025&amp;creative=386001&amp;location=http%3A%2F%2Fwww.amazon.com%2Fgp%2Fsearch%3Fkeywords%3Dsjlksdfjlksdjflkdsjk%26url%3Dsearch-alias%253Daws-amazon-aps&amp;linkCode=xm2&amp;tag=mamajamas-20&amp;SubscriptionId=AKIAIXAEIBVZBZEU56MQ</MoreSearchResultsUrl></Items></ItemSearchResponse>
  recorded_at: Thu, 23 May 2013 13:19:08 GMT
recorded_with: VCR 2.5.0
