<div class="action-nav">
  <div id="admin-nav">
    <%= link_to new_admin_category_product_type_path(category), class: "button bt-color" do %>
      <span class="ss-plus"></span>New Product Type
    <% end -%>
  </div>
  <p>&nbsp;</p>
  <div id="admin-nav">
    <%= link_to admin_product_types_path(format: :csv), class: "button bt-color" do %>
      Export all to CSV
    <% end -%>
  </div>
</div>
