<%= content_for :nav do %>
  <% cache [ 'admin', 'product_types', current_category.slug, 'categories' ] do -%>
    <nav id="categories">
      <ul>
        <% categories.each do |category| -%>
          <li class="<%= "cat-selected" if !current_category.blank? && category.id == current_category.id %>">
          <%= link_to category.name, admin_category_product_types_path(category.slug) %>
          </li>
      <% end -%>
      </ul>
    </nav>
  <% end -%>
<% end -%>
