<h3>People I'm Following</h3>
<ul class="clearfix">
  <%= render partial: "friends/sidebar_friend", collection: user.followed_users_with_public_lists %>
</ul>
<p>
  <%= link_to new_friend_path, id: 'find-moms', class: "button" do %>
    <span class="ss-users"></span>Find more parents
  <% end -%>
</p>
