<h3>Lists I'm Following</h3>
<p>
<%= link_to "Find", friends_path, id: 'find-moms' %> more parents
</p>
<ul class="clearfix">
  <%= render partial: "friends/sidebar_friend", collection: user.followed_users_with_public_lists %>
</ul>
