<li>
  <a target="_blank" href="#">
    <img src="<%= invite.picture_url %>" alt="<%= invite.name %>">
  </a>
  <p>
    <strong class="mom"><%= invite.name %></strong>
  </p>
  <button class="button bt-color bt-follow" type="submit">
    <span class="ss-check"></span>Invite
  </button>
</li>
