<div id="findfriends-prompt">
  <h3>Find your friends</h3>
  <p>Search your contacts for people you already know who have Mamajamas Lists.</p>
  <a class="button bt-color <%= button_class %>"><span class="ss-check"></span>Authorize <%= provider %></a>
</div>
