<li>
  <%= link_to "#" do %>
    <%= image_tag sidebar_friend.profile_picture.friend, alt: sidebar_friend.display_name %>
    <%= sidebar_friend.display_first_name_or_username %> <%= sidebar_friend.display_last_name %>
  <% end -%>
</li>
