<div id="follow-moms">
  <% unless @fb_friends.size == 0 -%>
  <h3>
    Your Friends
  </h3>
  <p class="instruction">
    We recommend you follow these friends that have Mamajamas lists <em>(you can unfollow them below)</em>:
  </p>
  <ul class="follow-moms clearfix">
    <% @fb_friends.each do |friend| -%>
      <%= render partial: 'friend', locals: { friend: friend, following: current_user.following?(friend) } %>
    <% end -%>
    <% if @total_fb_friends > 5 -%>
      <li>
        <a href="#" class="more-friends">Show more friends<br><strong><%= @total_fb_friends - 5 %></strong></a>
      </li>
    <% end -%>
  </ul>
  <% end -%>
  <h3>
    Mamajamas Moms to Follow
  </h3>
  <p class="instruction">
    And here are some folks we think you might want to follow <em>(based on the answers to your quiz)</em>:
  </p>
  <ul class="follow-moms clearfix">
    <% @fb_friends.each do |friend| -%>
      <%= render partial: 'friend', locals: { friend: friend, following: current_user.following?(friend) } %>
    <% end -%>
  </ul>
  <p class="option right">
    <input type="checkbox" id="chk-let-friends-know"> <label for="chk-let-friends-know">Let friends know you are following them. <a class="ss-icon info" href="#">info</a></label>
  </p>
  <div class="button-row">
    <%= link_to "Save and Return to List", root_path, class: "button bt-color" %>
  </div>
</div>
