<%= content_for :nav do %>
  <ul class="sidemenu">
    <li>
      <%= link_to "My Friends", friends_path %>
    </li>
    <li class="current">
      <%= link_to "Find Friends", new_friend_path %>
    </li>
  </ul>
<% end -%>
<h2 class="visuallyhidden">Find Friends</h2>
<!-- tabs -->
<div id="findfriends" class="tabs">
  <!-- tab: Facebook -->
  <h2 id="facebookfriends">Facebook</h2>
  <div class="tabbody">
    <!-- Friends list (Facebook) -->
    <ul class="clearfix friends-list findfriends-lists">
      <li data-relationship-id="" data-friend-id="" id="" class="">
      <a target="_blank" href="#"><img src="/assets/profile_photo-default-l.png" alt="Maggie Harman"></a>
      <p>
      <strong class="mom">Martha Arbuckle</strong>
      </p>
      <button class="button bt-color bt-follow" type="submit"><span class="ss-check"></span>Follow</button>
      </li>
      <li data-relationship-id="" data-friend-id="" id="" class="">
      <a target="_blank" href="#"><img src="/assets/profile_photo-default-l.png" alt="Holly McGee"></a>
      <p>
      <strong class="mom">Kris Cooper</strong>
      </p>
      <button class="button bt-color bt-follow" type="submit"><span class="ss-check"></span>Follow</button>
      </li>
      <li data-relationship-id="" data-friend-id="" id="" class="">
      <a target="_blank" href="#"><img src="/assets/profile_photo-default-l.png" alt="Maggie Harman"></a>
      <p>
      <strong class="mom">Qin Lee</strong>
      </p>
      <button class="button bt-color bt-follow" type="submit"><span class="ss-check"></span>Follow</button>
      </li>
      <li data-relationship-id="" data-friend-id="" id="" class="">
      <a target="_blank" href="#"><img src="/assets/profile_photo-default-l.png" alt="Holly McGee"></a>
      <p>
      <strong class="mom">Remy Lawrence</strong>
      </p>
      <button class="button bt-color bt-follow" type="submit"><span class="ss-check"></span>Follow</button>
      </li>
      <li data-relationship-id="" data-friend-id="" id="" class="">
      <a target="_blank" href="#"><img src="/assets/profile_photo-default-l.png" alt="Maggie Harman"></a>
      <p>
      <strong class="mom">Lauren Mallard</strong>
      </p>
      <button class="button bt-color bt-follow" type="submit"><span class="ss-check"></span>Follow</button>
      </li>
      <li data-relationship-id="" data-friend-id="" id="" class="">
      <a target="_blank" href="#"><img src="/assets/profile_photo-default-l.png" alt="Maggie Harman"></a>
      <p>
      <strong class="mom">Sarita Patel</strong>
      </p>
      <button class="button bt-color bt-follow" type="submit"><span class="ss-check"></span>Follow</button>
      </li>
      <li data-relationship-id="" data-friend-id="" id="" class="">
      <a target="_blank" href="#"><img src="/assets/profile_photo-default-l.png" alt="Maggie Harman"></a>
      <p>
      <strong class="mom">Winnie Sung</strong>
      </p>
      <button class="button bt-color bt-follow" type="submit"><span class="ss-check"></span>Follow</button>
      </li>
    </ul>
  </div>
  <!-- end tab: Facebook -->
  <!-- begin tab: Gmail -->
  <h2 id="gmailfriends">Gmail</h2>
  <div class="tabbody">
    <!-- Friends list (Gmail) -->
    <ul class="clearfix friends-list findfriends-lists">
      <li data-relationship-id="" data-friend-id="" id="" class="">
      <a target="_blank" href="#"><img src="/assets/profile_photo-default-l.png" alt="Maggie Harman"></a>
      <p>
      <strong class="mom">Maggie Harman</strong>
      </p>
      <button class="button bt-color bt-follow" type="submit"><span class="ss-check"></span>Follow</button>
      </li>
      <li data-relationship-id="" data-friend-id="" id="" class="">
      <a target="_blank" href="#"><img src="/assets/profile_photo-default-l.png" alt="Holly McGee"></a>
      <p>
      <strong class="mom">Holly McGee</strong>
      </p>
      <button class="button bt-color bt-follow" type="submit"><span class="ss-check"></span>Follow</button>
      </li>
      <li data-relationship-id="" data-friend-id="" id="" class="">
      <a target="_blank" href="#"><img src="/assets/profile_photo-default-l.png" alt="Maggie Harman"></a>
      <p>
      <strong class="mom">Maggie Harman</strong>
      </p>
      <button class="button bt-color bt-follow" type="submit"><span class="ss-check"></span>Follow</button>
      </li>
      <li data-relationship-id="" data-friend-id="" id="" class="">
      <a target="_blank" href="#"><img src="/assets/profile_photo-default-l.png" alt="Holly McGee"></a>
      <p>
      <strong class="mom">Holly McGee</strong>
      </p>
      <button class="button bt-color bt-follow" type="submit"><span class="ss-check"></span>Follow</button>
      </li>
      <li data-relationship-id="" data-friend-id="" id="" class="">
      <a target="_blank" href="#"><img src="/assets/profile_photo-default-l.png" alt="Maggie Harman"></a>
      <p>
      <strong class="mom">Maggie Harman</strong>
      </p>
      <button class="button bt-color bt-follow" type="submit"><span class="ss-check"></span>Follow</button>
      </li>
      <li data-relationship-id="" data-friend-id="" id="" class="">
      <a target="_blank" href="#"><img src="/assets/profile_photo-default-l.png" alt="Maggie Harman"></a>
      <p>
      <strong class="mom">Shirley Bromdingnaghy</strong>
      </p>
      <button class="button bt-color bt-follow" type="submit"><span class="ss-check"></span>Follow</button>
      </li>
      <li data-relationship-id="" data-friend-id="" id="" class="">
      <a target="_blank" href="#"><img src="/assets/profile_photo-default-l.png" alt="Maggie Harman"></a>
      <p>
      <strong class="mom">Maggie Harman</strong>
      </p>
      <button class="button bt-color bt-follow" type="submit"><span class="ss-check"></span>Follow</button>
      </li>
    </ul>
  </div>
  <!-- end tab: Gmail -->
  <!-- begin tab: Invite a Friend -->
  <h2 id="invitefriend">Invite a Friend</h2>
  <div class="tabbody form-page">
    <form class="label-infield">
      <dl class="clearfix">
        <fieldset>
          <!-- row -->
          <dt>To<strong class="required">*</strong></dt>
          <dd class="half">
          <p>
          <label for="field-1">Friend’s email (required)</label>
          <br />
          <input name="field-1" type="text" id="field-1" value="">
          </p>
          </dd>
          <dd class="half">
          <p>
          <label for="field-2">Friend’s Name</label>
          <br />
          <input name="field-2" type="text" id="field-2" value="">
          </p>
          </dd>
          <!-- row -->
          <dt>From</dt>
          <dd>
          <p>
          <label for="field-2">Name</label>
          <br />
          <input name="field-2" type="text" id="field-2" value="">
          </p>
          </dd>
        </fieldset>
        <!-- row -->
        <fieldset>
          <dt>Subject</dt>
          <dd class="pad">
          <p>Rick has invited you to join Mamajamas</p>
          </dd>
          <!-- row -->
          <dt>Message</dt>
          <dd>
          <p>
          <label for="field-3">Personalized message</label>
          <br />
          <textarea rows="2" name="field-3" id="field-3"></textarea>
          </p>
          <p class="normal"><span class="instruction">Your message will include the following text:</span><br>
          Create your own baby gear list at Mamajamas:<br>
          <a href="http://www.mamajamas.com">http://www.mamajamas.com</a></p>
          </dd>
        </fieldset>
      </dl>
      <div class="button-row">
        <button type="submit" class="button bt-light" id="bt-cancel"><span class="ss-icon ss-delete"></span>Cancel</button>
        <button type="submit" class="button bt-color" id="bt-name"><span class="ss-icon ss-send"></span>Send</button>
      </div>
    </form>
  </div>
  <!-- end tab: Invite a Friend -->
</div>
<!-- end tabs -->
