---
http_interactions:
- request:
    method: get
    uri: http://ecs.amazonaws.com/onca/xml?AWSAccessKeyId=AKIAIXAEIBVZBZEU56MQ&AssociateTag=mamajamas-20&ItemId=B000HZEQSU&Operation=ItemLookup&ResponseGroup=Large&Signature=eyPAMQr/TExH5L3hkX1tO3ZCSiySHl%2B%2BkeLTZJUkW4U=&Timestamp=2014-01-05T18:07:55Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Nncoection:
      - close
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2011-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Ruby"></Header></HTTPHeaders><RequestId>662e5c7d-92fe-41a1-a935-deb531dcd504</RequestId><Arguments><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="AssociateTag"
        Value="mamajamas-20"></Argument><Argument Name="Signature" Value="eyPAMQr/TExH5L3hkX1tO3ZCSiySHl++keLTZJUkW4U="></Argument><Argument
        Name="ItemId" Value="B000HZEQSU"></Argument><Argument Name="AWSAccessKeyId"
        Value="AKIAIXAEIBVZBZEU56MQ"></Argument><Argument Name="Timestamp" Value="2014-01-05T18:07:55Z"></Argument><Argument
        Name="ResponseGroup" Value="Large"></Argument><Argument Name="Service" Value="AWSECommerceService"></Argument></Arguments><RequestProcessingTime>0.0331100000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B000HZEQSU</ItemId><ResponseGroup>Large</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B000HZEQSU</ASIN><ParentASIN>B002GKC3X4</ParentASIN><DetailPageURL>http://www.amazon.com/My-Brest-Friend-Pillow-Sunburst/dp/B000HZEQSU%3FSubscriptionId%3DAKIAIXAEIBVZBZEU56MQ%26tag%3Dmamajamas-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB000HZEQSU</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>http://www.amazon.com/My-Brest-Friend-Pillow-Sunburst/dp/tech-data/B000HZEQSU%3FSubscriptionId%3DAKIAIXAEIBVZBZEU56MQ%26tag%3Dmamajamas-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB000HZEQSU</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3DB000HZEQSU%26SubscriptionId%3DAKIAIXAEIBVZBZEU56MQ%26tag%3Dmamajamas-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativ[...]
- request:
    method: get
    uri: http://ecs.amazonaws.com/onca/xml?AWSAccessKeyId=AKIAIXAEIBVZBZEU56MQ&AssociateTag=mamajamas-20&ItemId=B000BNCA4K&Operation=ItemLookup&ResponseGroup=Large&Signature=NveoBZ8TbHTFLGNmIa5oia8CrVrK7ASsGVnWNaOro3w=&Timestamp=2014-01-05T18:07:56Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
      Nncoection:
      - close
    [...]
