---
http_interactions:
- request:
    method: post
    uri: https://us1.api.mailchimp.com/2.0/lists/list
    body:
      encoding: UTF-8
      string: '{"apikey":"42a0362c6c1d3cee1d2c82358343fb4d-us1","filters":{"list_name":"Mamajamas
        Development"}}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"total":1,"data":[{"id":"0aacab300f","web_id":1185705,"name":"Mamajamas
        Development","date_created":"2014-05-17 14:40:02","email_type_option":false,"use_awesomebar":true,"default_from_name":"Ryan
        Eschinger","default_from_email":"ryanesc@gmail.com","default_subject":"","default_language":"en","list_rating":0,"subscribe_url_short":"http:\/\/eepurl.com\/UYCVv","subscribe_url_long":"http:\/\/trazzler.us1.list-manage2.com\/subscribe?u=bf7a25c0447bb7cd8f8cf7cd1&id=0aacab300f","beamer_address":"us1-d6bc4ff258-d4be0b4cd2@inbound.mailchimp.com","visibility":"pub","stats":{"member_count":32,"unsubscribe_count":0,"cleaned_count":0,"member_count_since_send":15,"unsubscribe_count_since_send":1,"cleaned_count_since_send":0,"campaign_count":1,"grouping_count":1,"group_count":2,"merge_var_count":4,"avg_sub_rate":0,"avg_unsub_rate":2,"target_sub_rate":2,"open_rate":100,"click_rate":0,"date_last_campaign":null},"modules":[]}],"errors":[]}'
  recorded_at: Wed, 06 Aug 2014 14:43:13 GMT
- request:
    method: post
    uri: https://us1.api.mailchimp.com/2.0/lists/subscribe
    body:
      encoding: UTF-8
      string: '{"apikey":"42a0362c6c1d3cee1d2c82358343fb4d-us1","id":"0aacab300f","email":{"email":"user1@factory.com"},"merge_vars":{"fname":"Jane","lname":"Doe","duedate":null,"groupings":[{"name":"Preferences","groups":["Blog","Product"]}]},"double_optin":false,"email_type":"html","update_existing":true,"replace_interests":true,"send_welcome":false}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"email":"user1@factory.com","euid":"4e9d7b84b1","leid":"423670065"}'
  recorded_at: Wed, 06 Aug 2014 14:43:13 GMT
recorded_with: VCR 2.5.0
