<p>Hi <%= @followed_display_name %>,</p>
<p><%= @follower_display_name %> is now following your Mamajamas list.</p>
<p>Make sure your list is up to date by editing it <%= link_to "here", list_url %>.</p>
<p>Best,</p>
<p>The Mamajamas Team</p>
