<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "label-infield" }) do |f| %>
  <h3>Forgot your password?</h3>
  <p class="instruction">Please enter your email address for password reset instructions.</p>
  <dl class="clearfix">
    <fieldset>
      <dt>Login<strong class="required">*</strong></dt>
      <dd>
        <p>
          <%= f.label :login, "Email address" %>
          <br/>
          <%= f.text_field :login %>
          <%= field_error resource, :login %>
        </p>
      </dd>
    </fieldset>
  </dl>
  <div class="button-row">
    <button type="submit" class="button bt-color" id="bt-reset-password-instructions">Send me reset password instructions</button>
  </div>
<% end %>
