<% if @invite.message.present? -%>
  <p>
    <%= h @invite.message %>
  </p>
<% end -%>
<p>
  <% if @owned -%>
    You can find my global baby registry at:
  <% else -%>
    I thought you’d be interested in this Mamajamas baby registry:
  <% end -%>
  <%= link_to public_list_url(@owner.slug), public_list_url(@owner.slug) %>
<p>
Thanks!
<br/>
<%= h @from_name %>
</p>
