<% content_for :modal do -%>
  <!-- modal window ************ -->
  <div id="quiz-modal" class="modal-win">
  </div>
  <!-- /end modal window ************ -->
  <div id="countries" style="display:none" data-countries="<%= @countries %>"></div>
  <script type="text/javascript">
    Mamajamas.Context.List = new Mamajamas.Models.List({
      id: <%= current_user.list.present? ? current_user.list.id : 'null' %>
    });
  </script>
<% end -%>
