<% content_for :modal do -%>
  <!-- modal window ************ -->
  <div class="modal-wrap" style="display:block;">
    <div class="modal-overlay"> &nbsp; </div>
    <div class="vertical-offset"></div>
    <!-- modal window box -->
    <div class="quiz-box large" id="quiz01">
        <!-- modal window close button -->
        <a href="#" class="bt-close ss-icon">Close</a>
        <!-- modal window content -->
        <div class="content">
          <!-- question q01-01 ***** -->
          <p>Tell us a little bit about you, so we can help you figure out what baby gear you’ll need.
            <br>
            <a href="#" class="button bt-color" id="bt-start">Start<span class="ss-navigateright"></span></a>
          </p>
          <!-- / question q01-01 ***** -->
        </div>
        <!-- end modal window content -->
        <!-- quiz progress bar -->
        <div id="q-progress" title="Step 1 of 8">
          <div class="bar"></div>
        </div>
        <!-- end quiz progress bar -->
    </div>
    <!-- end modal window box -->
  </div>
  <!-- /end modal window ************ -->
<% end -%>
