<% content_for :modal do -%>
  <!-- modal window ************ -->
  <div class="modal-wrap" style="display:block;">
    <div class="modal-overlay"> &nbsp; </div>
    <div class="vertical-offset"></div>
    <!-- modal window box -->
    <div id="quiz">
    </div>
    <!-- end modal window box -->
  </div>
  <!-- /end modal window ************ -->
<% end -%>
