<% content_for :modal do -%>
  <!-- modal window ************ -->
  <div id="quiz-modal" class="modal-win">
  </div>
  <!-- /end modal window ************ -->
  <div id="countries" style="display:none" data-countries="<%= @countries %>"></div>
<% end -%>
