<div class="content">
  <img src="/assets/about-mamajamas.jpg" alt="" width="196" height="294" class="float-r" />
  <p>The idea for Mamajamas was born out of my own experience as an expecting mom three years ago.</p>
  <p>I was overwhelmed by the process of figuring out what to get in  preparation. I spent hours online researching , sifted through long emails and spreadsheets from my parent friends, and resorted to asking very public questions about nursing covers on facebook. I had to then create my own &ldquo;master&rdquo;  spreadsheet to keep myself organized.</p>
  <p>I starting thinking there must be an easier way to get and organize this kind of information. I just wanted someone just to give me a list of things I needed, and then see what brands my friends had bought.</p>
 <p>Meanwhile, I learned that many of my new mom friends were having the  same experience. I also discovered that this process doesn&rsquo;t end when the baby is born. At each new phase of your baby&rsquo;s development, you need different things. I also bought a bunch of things I wished I hadn&rsquo;t.</p>
 <p>The goal of Mamajamas is to help new and expecting parents buy only  stuff they need. And also to help them spend less time thinking about stuff, and more time enjoying pregnancy and new parenthood.</p>
 <p>I hope Mamajamas is helpful to you during this exciting time!</p>
 <p>Oh, and here is my Mamajamas List: <a href="/angieschiavoni">www.mamajamas.com/angieschiavoni</a>.</p>
  <p><img src="/assets/angie-schiavoni_sig.png" alt="" width="168" height="64" /><br>
  Angie Schiavoni<br>
  Founder<br/>
  <a href="mailto:angie@mamajamas.com">angie@mamajamas.com</a>
  </p>
</div>
