<div class="content">
  <img src="/assets/about-mamajamas.jpg" alt="" width="196" height="294" class="float-r" />
  <p>The idea for Mamajamas was born out of my own experience as an expecting mom three years ago.</p>
  <p>I was overwhelmed by the process of figuring out what to get in  preparation. I spent hours researching products online and emailed mom  friends asking for advice.  They sent me long spreadsheets and emails.  After sifting through everything, I had to then create my own &ldquo;master&rdquo;  spreadsheet to keep myself organized.</p>
  <p>I starting thinking there must be an easier way to get and organize  this kind of information. I wanted to get recommendations from my  friends without having to sift through their spreadsheets or post very  public comments on facebook.</p>
  <p>Meanwhile, I learned that many of my new mom friends were having the  same experience. I also learned that the long process of figuring out  what to get doesn&rsquo;t end when the baby is born. At each new phase of  their development you need new things. You also buy things you wish you  hadn&rsquo;t.</p>
  <p>The goal of Mamajamas is to help new and expecting parents buy only  stuff they need. And also to help them spend less time thinking about  stuff, and more time enjoying pregnancy and new parenthood.</p>
  <p>I hope Mamajamas is helpful to you during this exciting time!</p>
  <p><img src="/assets/angie-schiavoni_sig.png" alt="" width="168" height="64" /><br>
  Angie Schiavoni<br>
  Founder</p>
</div>
