<div class="content">
  <div class="faq">
    <h3 class="small">Basics</h3>
    <ul class="faq">
      <li><a href="#faq01"><span class="ss-icon ss-navigatedown"></span> How do I create a baby registry?</a></li>
    </ul>
       <ul class="faq">
      <li><a href="#faq02"><span class="ss-icon ss-navigatedown"></span> How do I give someone a gift on their registry?</a></li>
    </ul>
    <ul class="faq">
      <li><a href="#faq03"><span class="ss-icon ss-navigatedown"></span> Why can't I use my mobile device or tablet to work on my registry?</a></li>
    </ul>
    <h3 class="small">Products</h3>
    <ul class="faq">
      <li><a href="#faq04"><span class="ss-icon ss-navigatedown"></span> How do you select the products you recommend?</a></li>
      <li><a href="#faq05"><span class="ss-icon ss-navigatedown"></span> How do you decide the priority of the baby gear you recommend?</a></li>
      <li><a href="#faq06"><span class="ss-icon ss-navigatedown"></span> How can I add products from anywhere on the web to my registry?</a></li>
    </ul>
    <h3 class="small">Ratings & Reviews</h3>
    <ul class="faq">
      <li><a href="#faq07"><span class="ss-icon ss-navigatedown"></span> Are the ratings displayed on the “choose” pop-up based on Mamajamas member ratings, or based on Amazon ratings?</a></li>
      <li><a href="#faq08"><span class="ss-icon ss-navigatedown"></span> How can I see all of the reviews for a product?</a></li>
    </ul>
    <h3 class="small">Sharing</h3>
    <ul class="faq">
      <li><a href="#faq09"><span class="ss-icon ss-navigatedown"></span> Who can see my registry?</a></li>
      <li><a href="#faq10"><span class="ss-icon ss-navigatedown"></span> What is the best way to share my registry with others?</a></li>
    </ul>
    <h3 class="small">Advanced</h3>
    <ul class="faq">
      <li><a href="#faq11"><span class="ss-icon ss-navigatedown"></span> Is there a way to import an Excel spreadsheet or registry I have already created into a Mamajamas registry?</a></li>
    </ul>
      <li><a href="#faq12"><span class="ss-icon ss-navigatedown"></span> How can my friends and family easily find my Mamajamas registry?</a></li>
    </ul>

    <h4 class="bordertop"><a name="faq01" id="faq01"></a>How do I create a baby registry?</h4>
    <p>First, you will take a quiz so that we can get some information on the type of parent you hope to become. Then we’ll use that information to build you a personalized baby registry with or without actual product recommendations (you can decide this during the quiz). You can then customize your registry using products from anywhere on the web, and recommendations from other parents. Alternatively, you can choose to copy another registry that you find, that you like, and customize your registry from there.</p>
    
    <h4 class="bordertop"><a name="faq02" id="faq02"></a>How do I give someone a gift on their registry?</h4>
    <p>First, click on the “gift this” link next to the item you want to give.</p>

    <p><b>Step 1.</b> You will then be asked to give your name and email address, so that we can send a notification to you and the person that you are gifting the item to with that information.</p>

    <p><b>Step 2.</b> We will give you the link to go directly to the gift website. Remember, that Mamajamas itself is not a store, so you will need to go to another website that carries the product you want to gift. You should then purchase the product at that store, and check back to our site if you need the address of the person for whom you are buying a gift.</p>

    <p><b>Step 3.</b> After you’ve successfully purchased the gift, come back to Mamajamas, and click "continue." Then enter the quantity of the gift you purchased, and click "confirm." At this point, the person you are giving a gift to will be notified and the details of who gave her/him the gift will show on her/his registry.</p></p>

    <h4 class="bordertop"><a name="faq03" id="faq03"></a>Why can't I use my mobile device or tablet to work on my registry?</h4>
    <p>We're working on it! That's just part of the whole being in beta thing, and we definitely appreciate your patience on this front.</p>

    <h4><a name="faq04" id="faq04"></a>How do you select the products you recommend?</h4>
    <p>Our team specially curates the products we recommend using the information you give us on your quiz, our own expertise as parents, advice from Mamajamas members, and Amazon user reviews. We update our recommendations frequently. We only promote things we love, and do not receive ANY compensation from baby product companies to promote their gear. </p>

    <p>We may sometimes enter into partnerships with service providers or companies whose product and services we would use ourselves, but we would only do this with a company or service that we would recommend independently, and we don’t let partnership opportunities influence our recommendations, only vice versa.</p>

    <h4><a name="faq05" id="faq05"></a>How do you decide the priority of the baby gear you recommend?</h4>
    <p>Again, our team curates these based on your quiz selections, their own experiences and the collective experience of Mamajamas members. As a general philosophy, we tend to think there are very few “must have” items. We really want to help you buy less stuff you don’t really need and feel less overwhelmed with building a registry!</p>

    <h4><a name="faq06" id="faq06"></a>Can I add any product I want to my registry?</h4>
    <p>There are two ways to do this. The easiest way is to get the Mamajamas Bookmark. Then navigate to any product on the web that you want to add to your registry. Once you get there, simply click on your bookmark, fill in the required information about the product, and click "Add to Registry". You can also add products by using the search on the "choose a product" modal and if you don't find the product you are looking for, you can even click on the “add your own manually” link (although, this will take longer than using the bookmark). This will allow you to manually enter the name of the product and a link to where someone could find the product you need (or are recommending).</p>
    
    <h4><a name="faq07" id="faq07"></a>Are the ratings displayed on the "swap" or "choose" pop-up based on Mamajamas member ratings, or based on Amazon ratings?</h4>
    <p>Those are Mamajamas member ratings. You will need to click through to the Amazon page of a product to see the Amazon ratings (their rules, not ours!). </p>

    <h4><a name="faq08" id="faq08"></a>How can I see all the reviews for a product?</h4>
    <p>We’re working on this. For now, you would need to browse through the registries of other Mamajamas parents to read all of the reviews.</p>

    <h4><a name="faq09" id="faq09"></a>Who can see my registry?</h4>
    <p>Anyone can see your registry, unless you choose the “Just You” or just “Mamajamas Users” options on the privacy tab under the "My Settings" menu.</p>

    <h4><a name="faq10" id="faq10"></a>What is the best way to share my registry with family and friends?</h4>
    <p>Use the share buttons provided on the top right corner of your registry. Please note that some users who use the AdBlock plus browser extension may not be able to see the share buttons. Those users should turn off the plugin’s “block social sharing links” option in order to use the share buttons. Your registry also has a unique link, which you will be sent in your welcome email. For example, mine is: <a href="http://www.mamajamas.com/angie">www.mamajamas.com/angie</a>. You can share this with friends or put it on shower invites to take people directly to your registry.</p>
    
    <h4><a name="faq11" id="faq11"></a>Is there a way to import an Excel spreadsheet or registry I have already created into a Mamajamas registry?</h4>
    <p>Not yet, but if you email us your registry or pre-existing registry, we’ll happily create it for you. Just send it to: <a href="mailto:info@mamajamas.com">info@mamajamas.com</a>.</p>
    
    <h4><a name="faq12" id="faq12"></a>How can my friends and family easily find my Mamajamas registry?</h4>
    <p>They can use the search on the homepage to find your registry, or you can share your registry with them using the share icon on the top right of your registry. You can also send them your unique registry URL.</p>
    
</div>
