<div class="content">
  <div class="faq">
    <h3 class="small">Basics</h3>
    <ul class="faq">
      <li><a href="#faq01"><span class="ss-icon ss-navigatedown"></span> How do I create a baby registry?</a></li>
    </ul>
       <ul class="faq">
      <li><a href="#faq02"><span class="ss-icon ss-navigatedown"></span> How do I give someone a gift from a registry?</a></li>
    </ul>
    <ul class="faq">
      <li><a href="#faq03"><span class="ss-icon ss-navigatedown"></span> Why can't I work on my registry from my mobile device or tablet?</a></li>
    </ul>
    <h3 class="small">Products</h3>
    <ul class="faq">
      <li><a href="#faq04"><span class="ss-icon ss-navigatedown"></span> How do you select the products you recommend?</a></li>
      <li><a href="#faq05"><span class="ss-icon ss-navigatedown"></span> How do you decide the priority of the baby gear you recommend?</a></li>
      <li><a href="#faq06"><span class="ss-icon ss-navigatedown"></span> How can I add products from anywhere on the web to my registry?</a></li>
    </ul>
    <h3 class="small">Ratings & Reviews</h3>
    <ul class="faq">
      <li><a href="#faq07"><span class="ss-icon ss-navigatedown"></span> Are the ratings displayed on the “choose” pop-up based on Mamajamas member ratings, or based on Amazon ratings?</a></li>
      <li><a href="#faq08"><span class="ss-icon ss-navigatedown"></span> How can I see all of the reviews for a product?</a></li>
    </ul>
    <h3 class="small">Sharing</h3>
    <ul class="faq">
      <li><a href="#faq09"><span class="ss-icon ss-navigatedown"></span> Who can see my registry?</a></li>
      <li><a href="#faq10"><span class="ss-icon ss-navigatedown"></span> What is the best way to share my registry with others?</a></li>
    </ul>
    <h3 class="small">Advanced</h3>
    <ul class="faq">
      <li><a href="#faq11"><span class="ss-icon ss-navigatedown"></span> Is there a way to import an Excel spreadsheet or registry I have already created into a Mamajamas registry?</a></li>
      <li><a href="#faq12"><span class="ss-icon ss-navigatedown"></span> How can my friends and family easily find my Mamajamas registry?</a></li>
    </ul>

    <h4 class="bordertop"><a name="faq01" id="faq01"></a>How do I create a baby registry?</h4>
    <p>You start by taking a quiz. We need to learn what type of parent you are so we can give you the best recommendations. (The quiz is not graded. Promise.) We then use that information to build your personalized baby registry either with or without product recommendations -- your choice. Next, you customize your registry. Add products from anywhere on the web -- using the Mamajamas bookmark and ideas and recommendations from other parents. Or you can make it super simple and copy someone else’s registry item for item.</p>
    
    <h4 class="bordertop"><a name="faq02" id="faq02"></a>How do I give someone a gift from a registry?</h4>

    <p><b>Step 1.</b> Click on the “gift this” link next to the item.</p>

    <p><b>Step 2.</b> Enter your name and email address. We’ll notify the recipient that they are about to receive something awesome.</p>

    <p><b>Step 3.</b> You’ll receive a link to the website where you can buy the item. Mamajamas is not a store (we are much too busy for that!), but we’ll make sure we get you to the right one. Follow the steps to purchase the item. If you need the address of the recipient, you can always get it from our website. </p></p>
    
    <p><b>Step 4.</b> Once you’ve purchased the gift, come back to Mamajamas and click "continue." Then enter the quantity of the gift you purchased and click "confirm." The recipient will be notified (and delighted) and the details of your gift will appear on their registry.</p>
    
    <h4 class="bordertop"><a name="faq03" id="faq03"></a>Why can't I work on my registry from my mobile device or tablet?</h4>
    <p>Because we’re still working on it! But soon. Really.</p>

    <h4><a name="faq04" id="faq04"></a>How do you select the products you recommend?</h4>
    <p>Our team handpicks recommendations by using information you give us on your quiz. We also factor in our own expertise as parents, advice from Mamajamas subscribers, and outside user reviews. We update our recommendations frequently. We only promote things we love and we do not receive ANY compensation from companies to do so.</p>

    <p>We may sometimes enter into partnerships with companies, but we would only do this with products we completely believe in. We have your best interest at heart.</p>

    <h4><a name="faq05" id="faq05"></a>How do you decide the priority of the baby gear you recommend?</h4>
    <p>Our team prioritizes items based on your quiz selections, their own experiences and the collective experience of Mamajamas members. As a general philosophy, we tend to think there are very few “must have” items. We want to help you buy the right stuff so you can buy less stuff!</p>

    <h4><a name="faq06" id="faq06"></a>Can I add any product I want to my registry?</h4>
    <p>Absolutely. There are two ways to do so. The easiest is to get the Mamajamas bookmark. Navigate to any product on the web, click on your bookmark, and click "Add to Registry." Easy peasy. You can also add products by clicking “choose” or “swap” next to an item on your registry.  And if you don't find the product you are looking for you can even click “add your own manually.” Enter the name of the product and a link to it and you’ll be good to go.</p>
    
    <h4><a name="faq07" id="faq07"></a>Are the ratings displayed on the "swap" or "choose" pop-up based on Mamajamas member ratings, or based on Amazon ratings?</h4>
    <p>Those are Mamajamas member ratings. You will need to click through to the Amazon page of a product to see the Amazon ratings.  (Their rules, not ours.)</p>

    <h4><a name="faq08" id="faq08"></a>How can I see all the reviews for a product?</h4>
    <p>Stay tuned. We’re working on this. But for now you can browse through the registries of other Mamajamas parents to read all of the reviews.</p>

    <h4><a name="faq09" id="faq09"></a>Who can see my registry?</h4>
    <p>That’s your decision. Anyone can see your registry, unless you choose the “Just You” or just “Mamajamas Users” options on the privacy tab under the "My Settings" menu.</p>

    <h4><a name="faq10" id="faq10"></a>What is the best way to share my registry with family and friends?</h4>
    <p>Use the share button provided on the top right corner of your registry. There may be a few folks who use the AdBlock plus browser extension that won’t be able to see the share button. Those users should turn off the plug-ins “block social sharing links” option to use the share buttons.</p>
    
    <p>Your registry also has a unique link, which you will be sent in your welcome email. For example, mine is: <a href="http://www.mamajamas.com/angie">www.mamajamas.com/angie</a>. You can share this with friends or put it on shower invites.</p>
    
    <h4><a name="faq10" id="faq10"></a>Is there a way to import an Excel spreadsheet or registry I have already created into a Mamajamas registry?</h4>
    <p></p>Not yet, but if you email us your pre-existing registry, we’ll happily create it for you. Yep, we’re that nice.  Just send it to: <a href="mailto:info@mamajamas.com">info@mamajamas.com</a>.</p>
    
    <h4><a name="faq12" id="faq12"></a>How can my friends and family easily find my Mamajamas registry?</h4>
    <p>Three ways: 1. They can go to the homepage and search for you by name.  2. You can use the “share” icon on the top right of your registry.  3. You can email them the URL link to your registry.</p>
    
</div>
