<div id="my-list" class="center" style="height: 395px">
  <h1>No more recommendations!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lectus enim, congue ut est a, malesuada porta nisl. Vivamus sit amet sapien congue, hendrerit tortor non, rutrum tortor. Aliquam est ex, facilisis a dignissim facilisis, tincidunt at quam. Vivamus cursus eros ut interdum elementum. Proin eu arcu varius, porta nisl in, lobortis elit. Sed quis vestibulum justo, luctus euismod sapien. Pellentesque efficitur congue magna, sit amet dignissim tortor pellentesque at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus aliquam vel elit eget malesuada. Nulla porta viverra felis eget semper. Quisque ornare lacus lorem, sit amet tincidunt lorem maximus et.

</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lectus enim, congue ut est a, malesuada porta nisl. Vivamus sit amet sapien congue, hendrerit tortor non, rutrum tortor. Aliquam est ex, facilisis a dignissim facilisis, tincidunt at quam. Vivamus cursus eros ut interdum elementum. Proin eu arcu varius, porta nisl in, lobortis elit. Sed quis vestibulum justo, luctus euismod sapien. Pellentesque efficitur congue magna, sit amet dignissim tortor pellentesque at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus aliquam vel elit eget malesuada. Nulla porta viverra felis eget semper. Quisque ornare lacus lorem, sit amet tincidunt lorem maximus et.

</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lectus enim, congue ut est a, malesuada porta nisl. Vivamus sit amet sapien congue, hendrerit tortor non, rutrum tortor. Aliquam est ex, facilisis a dignissim facilisis, tincidunt at quam. Vivamus cursus eros ut interdum elementum. Proin eu arcu varius, porta nisl in, lobortis elit. Sed quis vestibulum justo, luctus euismod sapien. Pellentesque efficitur congue magna, sit amet dignissim tortor pellentesque at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus aliquam vel elit eget malesuada. Nulla porta viverra felis eget semper. Quisque ornare lacus lorem, sit amet tincidunt lorem maximus et.

</p>
</div>
