--- 
http_interactions: 
- request: 
    method: get
    uri: http://ecs.amazonaws.com/onca/xml?AWSAccessKeyId=AKIAIXAEIBVZBZEU56MQ&AssociateTag=mamajamas-20&ItemPage=1&Keywords=shampoo&Operation=ItemSearch&ResponseGroup=Large&SearchIndex=All&Signature=J5cKBeBNr7n/ZBpAoovzBwtSpdVmIPGynHAZ4L57hcM=&Timestamp=2014-02-07T21:51:08Z
    body: 
      encoding: US-ASCII
      string: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml;charset=UTF-8
      Nncoection: 
      - close
    body: 
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" ?><ItemSearchResponse xmlns=\"http://webservices.amazon.com/AWSECommerceService/2011-08-01\"><OperationRequest><HTTPHeaders><Header Name=\"UserAgent\" Value=\"Ruby\"></Header></HTTPHeaders><RequestId>702755ad-77f0-42bb-9296-06b109fff835</RequestId><Arguments><Argument Name=\"Operation\" Value=\"ItemSearch\"></Argument><Argument Name=\"Signature\" Value=\"J5cKBeBNr7n/ZBpAoovzBwtSpdVmIPGynHAZ4L57hcM=\"></Argument><Argument Name=\"ItemPage\" Value=\"1\"></Argument><Argument Name=\"AssociateTag\" Value=\"mamajamas-20\"></Argument><Argument Name=\"Keywords\" Value=\"shampoo\"></Argument><Argument Name=\"AWSAccessKeyId\" Value=\"AKIAIXAEIBVZBZEU56MQ\"></Argument><Argument Name=\"Timestamp\" Value=\"2014-02-07T21:51:08Z\"></Argument><Argument Name=\"ResponseGroup\" Value=\"Large\"></Argument><Argument Name=\"SearchIndex\" Value=\"All\"></Argument><Argument Name=\"Service\" Value=\"AWSECommerceService\"></Argument></Arguments><RequestProcessingTime>0.2538900000000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemSearchRequest><ItemPage>1</ItemPage><Keywords>shampoo</Keywords><ResponseGroup>Large</ResponseGroup><SearchIndex>All</SearchIndex></ItemSearchRequest></Request><TotalResults>182292</TotalResults><TotalPages>18230</TotalPages><MoreSearchResultsUrl>http://www.amazon.com/gp/redirect.html?camp=2025&amp;creative=386001&amp;location=http%3A%2F%2Fwww.amazon.com%2Fgp%2Fsearch%3Fkeywords%3Dshampoo%26url%3Dsearch-alias%253Daws-amazon-aps&amp;linkCode=xm2&amp;tag=mamajamas-20&amp;SubscriptionId=AKIAIXAEIBVZBZEU56MQ</MoreSearchResultsUrl><Item><ASIN>B004600K00</ASIN><DetailPageURL>http://www.amazon.com/Tresemme-Smooth-Silky-Shampoo-Moroccan/dp/B004600K00%3FSubscriptionId%3DAKIAIXAEIBVZBZEU56MQ%26tag%3Dmamajamas-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3DB004600K00</DetailPageURL><ItemLinks><ItemLink><Description>Technical Details</Description><URL>http://www.amazon.com/Tresemme-Smooth-Silky-Shampoo-Moroccan/dp/tech-data/B004600K00%3FSubscriptionId%3DAKIAIXAEIBVZBZEU56MQ%26tag%3Dmamajamas-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creativeASIN%3DB004600K00</URL></ItemLink><ItemLink><Description>Add To Baby Registry</Description><URL>http://www.amazon.com/gp/registry/baby/add-item.html%3Fasin.0%3DB004600K00%26SubscriptionId%3DAKIAIXAEIBVZBZEU56MQ%26tag%3Dmamajamas-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D386001%26creative[...]
