<!-- modal window close button -->
<a href="#" class="bt-close ss-icon">Close</a>
<!-- modal window content -->
<div class="content">
  <!-- question q07 ***** -->
  When it comes to safety, I tend to be:
  <!-- begin slider questions-->
  <ol class="q-slider">
    <li>
      <a href="#">
        <img src="{{assetPath 'quiz/q07a_mellow.jpg'}}" alt="Mellow" />
        <br>
        <strong>Mellow</strong>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="{{assetPath 'quiz/q07b_cautious.jpg'}}" alt="Cautious" />
        <br>
        <strong>Cautious</strong>
      </a>
    </li>
  </ol>
  <div id="q-sliderscale">
    <div id="q-sliderarrow" class="active"></div>
  </div>
  <!-- / end slider questions-->
  <!-- / question q07 ***** -->
</div>
<!-- end modal window content -->
<div class="button-row clearfix">
  <!-- instructions -->
  <p>Slide between left and right, or <a href="#" class="skip">Skip</a></p>
  <!-- previous and next buttons -->
  <div class="col50 float-l left">
    <a href="#" class="button" id="bt-prev"><span class="ss-navigateleft"></span>Previous</a>
  </div>
  <div class="col50 float-r right">
    <a href="#" class="button bt-color" id="bt-next">Next<span class="ss-navigateright"></span></a>
  </div>
</div>
<!-- quiz progress bar -->
<div id="q-progress" title="Step 7 of 9">
  <div class="bar"></div>
</div>
<!-- end quiz progress bar -->
