<div class="question-content">
  <!-- modal window content -->
  <div class="content">
    <form id="frm-prodrecc">
      <!-- question q09-01 ***** -->
      <div class="q-question" id="q09-01">
        <fieldset>
          <ul>
            <li>
              <div>
                <label>
                  <input type="radio" name="prodrecc-radio" value="radio" id="recommended-list" checked>
                  Suggest products for me.
                </label>
                <a href="#" class="float-r small gallery-a"><span class="ss-icon ss-view"></span> Preview</a>
              </div>
              We’ll start your registry pre-filled with products that Mamajamas recommends, but you’ll still be able to add your own and delete ours.
              <img src="{{assetPath 'preview_recommendations-t.png'}}" class="thumb" alt="" width="229" height="217" />
            </li>
            <li>
              <div>
                <label>
                  <input type="radio" name="prodrecc-radio" value="radio" id="custom-list">
                  Give me a blank slate.
                </label>
                <a href="#" class="float-r small gallery-b"><span class="ss-icon ss-view"></span> Preview</a>
              </div>
							We’ll give you an empty registry of baby gear categories and let you fill in your own products. Choose this if you want to give advice or copy from other members’ registries. 
              <img src="{{assetPath 'preview_norecs-t.png'}}" class="thumb" alt="" width="229" height="217" />
            </li>
          </ul>
        </fieldset>
      </div>
      <!-- / question q09-01 ***** -->
    </form>
  </div>
<!-- end modal window content -->

<div class="button-row clearfix">
  <div class="mobile-button-row">
    <div class="col50 float-l left">
      <a href="#" class="button" id="bt-prev"><span class="ss-navigateleft"></span><span class="hide-mobile">Previous</span></a>
    </div>
    <div class="mobile-question-number">
        Question 7
    </div>
    <div class="col50 float-r right">
      <a href="#" class="button bt-color" id="bt-next"><span class="hide-mobile">Next</span><span class="ss-navigateright"></span></a>
    </div>
  </div>

  <!-- instructions -->
  <p>Skip this quiz <span class="hide-mobile">and</span> <a href="#" class="skip"><span class="hide-mobile">go to my list</span></a></p>
</div>


<!-- quiz progress bar -->
<div class="mobile-q-progress">
  <div id="q-progress" title="Step 2 of 9">
    <div class="bar"></div>
  </div>
</div>
<!-- end quiz progress bar -->

</div>

<div id="gallery-modal-a" class="quiz-modal" style="display: none;">

  <div class="quiz-box-s gallery">
    <!-- modal window content -->
    <div class="content">
      <h2><span class="ss-icon ss-view"></span> Recommended Products Option</h2>
      <p>You’ll get an editable registry pre-filled with baby gear that Mamajamas thinks you'll love. <a data-toggle-preview-target="#gallery-modal-b" class="toggle-preview gallery-b" href="#">See the other option</a></p>
      <p><a class="quiz-return" href="#">Return to quiz question</a></p>
      <div class="gallery-img">
        <img src="{{assetPath 'preview_recommendations.png'}}" title="Baby gear list pre-filled with products recommended by Mamajamas" alt=""/>
      </div>
    </div>
    <!-- end modal window content -->
  </div>

</div>

<div id="gallery-modal-b" class="quiz-modal" style="display: none;">

  <div class="quiz-box-s gallery">
    <!-- modal window content -->
    <div class="content">
      <h2><span class="ss-icon ss-view"></span>“Blank slate” Option</h2>
      <p>You’ll get a “blank” registry of baby gear categories that you can fill in with specific products. <a data-toggle-preview-target="#gallery-modal-a" class="toggle-preview gallery-a" href="#">See the other option</a></p>
      <p><a class="quiz-return" href="#">Return to quiz question</a></p>
      <div class="gallery-img">
        <img src="{{assetPath 'preview_no-recs.png'}}" title="Baby gear list of item categories, to be filled with specific product listings" alt=""/>
      </div>
    </div>
    <!-- end modal window content -->
  </div>

</div>
