<!-- modal window close button -->
<a class="bt-close ss-icon" href="#">Close</a>
<!-- modal window content -->
<div class="content">
    <!-- question q09-01 ***** -->
    <div class="q-question" id="q09-01">
      <fieldset>
        <ul>
          <li>
            <label>
              <input type="radio" name="prodrecc-radio" value="radio" id="recommended-list" checked>
              I would like Mamajamas to suggest products for me.
            </label>
          </li>
          <li>
            <label>
              <input type="radio" name="prodrecc-radio" value="radio" id="custom-list">
              I would like to build my list from scratch.
            </label>
          </li>
        </ul>

      </fieldset>
    </div>
    <!-- / question q09-01 ***** -->
</div>
<!-- end modal window content -->
<div class="button-row clearfix">
  <!-- instructions -->
  <!-- previous and next buttons -->
  <div class="col50 float-l left">
    <a href="#" class="button" id="bt-prev"><span class="ss-navigateleft"></span>Previous</a>
  </div>
  <div class="col50 float-r right">
    <a href="#" class="button bt-color" id="bt-next">Next<span class="ss-navigateright"></span></a>
  </div>
</div>
<!-- quiz progress bar -->
<div title="Step 8 of 9" id="q-progress">
  <div class="bar"></div>
</div>
<!-- end quiz progress bar -->
