<!-- modal window close button -->
<a href="#" class="bt-close ss-icon">Close</a>
<!-- modal window content -->
<div class="content">
  <!-- question q04 ***** -->
  I plan to use these types of diapers:
  <!-- begin multiple choice list -->
  <ol class="q-multi">
    <li>
      <a href="#">
        <div class="checked"></div>
        <img src="{{assetPath 'quiz/q04a_cloth.jpg'}}" alt="" />
        <br>
        <strong>Cloth Diapers</strong>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="checked"></div>
        <img src="{{assetPath 'quiz/q04b_disposable.jpg'}}" alt="" />
        <br>
        <strong>Disposable Diapers</strong>
      </a>
    </li>
  </ol>
  <!-- / end  multiple choice list -->
  <!-- / question q04 ***** -->
</div>
<!-- end modal window content -->
<div class="button-row clearfix">
  <!-- instructions -->
  <p>Select one or more, or <a href="#" class="skip">Skip</a></p>
  <!-- previous and next buttons -->
  <div class="col50 float-l left">
  <a href="#" class="button" id="bt-prev"><span class="ss-navigateleft"></span>Previous</a>
  </div>
  <div class="col50 float-r right">
  <a href="#" class="button" id="bt-next">Next<span class="ss-navigateright"></span></a>
  </div>
</div>
<!-- quiz progress bar -->
<div id="q-progress" title="Step 4 of 8">
  <div class="bar"></div>
</div>
<!-- end quiz progress bar -->
