<!-- modal window close button -->
<a href="#" class="bt-close ss-icon">Close</a>
<!-- modal window content -->
<div class="content">
  <!-- question q03 ***** -->
  When it comes to feeding my baby, I am or am planning to:
  <!-- begin multiple choice list -->
  <ol class="q-multi">
    <li>
      <a href="#">
        <img src="/assets/quiz/q03a_breastfeed.jpg" alt="" />
        <br>
        <strong>Breast Feed</strong>
      </a>
      <div class="checked"></div>
    </li>
    <li>
      <a href="#">
        <img src="/assets/quiz/q03b_pump.jpg" alt="" />
        <br>
        <strong>Pump</strong>
      </a>
      <div class="checked"></div>
    </li>
    <li>
      <a href="#">
        <img src="/assets/quiz/q03c_bottle.jpg" alt="" />
        <br>
        <strong>Bottle Feed</strong>
      </a>
      <div class="checked"></div>
    </li>
  </ol>
  <!-- / end  multiple choice list -->
  <!-- / question q03 ***** -->
</div>
<!-- end modal window content -->
<div class="button-row clearfix">
  <!-- instructions -->
  <p>Select one or more. Not sure? <a href="#" class="skip">Skip</a></p>
  <!-- previous and next buttons -->
  <div class="col50 float-l left">
  <a href="#" class="button" id="bt-prev"><span class="ss-navigateleft"></span>Previous</a>
  </div>
  <div class="col50 float-r right">
  <a href="#" class="button bt-color" id="bt-next">Next<span class="ss-navigateright"></span></a>
  </div>
</div>
<!-- quiz progress bar -->
<div id="q-progress" title="Step 1 of 8">
  <div class="bar"></div>
</div>
<!-- end quiz progress bar -->
