<a href="#" class="bt-close ss-icon">Close</a>
<div class="content">
  <p>Tell us a little bit about you, so we can help you figure out what baby gear you’ll need.
    <br>
    <a href="#" class="button bt-color" id="bt-start">Start<span class="ss-navigateright"></span></a>
  </p>
</div>
<div id="q-progress" title="Step 1 of 9">
  <div class="bar"></div>
</div>
