<h2>Quiz Results</h2>
<div class="content">
  <h3>Your baby gear recommendations <em>(based on your quiz results)</em></h3>
  <p class="intro">Add any products to your registry that look interesting. You can change or delete them later.</p>
  <div id="listcontrols" class="clearfix">
    <div class="listsort"><a class="button bt-color bt-add-all" href="#"><span class="ss-plus"></span>Add All</a> </div>
    <div class="listsort">Categories: 
      <!-- drop-down menu -->
      <div class="choicedrop"> <a href="#">All <span class="ss-dropdown"></span></a>
      <ul style="display:none; width:9.5em;">
        <li class="cat-selected"> <a href="#all">All</a> </li>
        {{#each categories}}
          <li class=""> <a href="#{{this.id}}">{{this.name}}</a> </li>
        {{/each}}
      </ul>
      </div>
      <!-- /drop-down menu --> 
    </div>
  </div>
  <!-- product list ***** -->
  <div class="prodlist"> 
  </div>
  <!-- end product list ***** --> 
  
</div>
<div class="button-row clearfix"> 
  <!-- instructions -->
  <p><a class="skip" href="#">Skip this</a> and build my registry.</p>
  <!-- previous and next buttons -->
  <div class="col50 float-l left"> <a id="bt-prev" class="button" href="#"><span class="ss-navigateleft"></span>Previous</a> </div>
  <div class="col50 float-r right"> <a href="#" class="button bt-color" id="bt-next">Build my Registry<span class="ss-navigateright"></span></a></div>
</div>
<!-- quiz progress bar -->
<div title="Step 9 of 9" id="q-progress">
  <div class="bar"></div>
</div>