<!-- modal window content -->
<div class="content">
  <!-- question q05 ***** -->
  <span class="quiz-title">I would consider these sleeping arrangements:</span>
  <!-- begin multiple choice list -->
  <ol class="q-multi">
    <li>
      <a href="#">
        <div class="checked"></div>
        <img src="{{assetPath 'quiz/q05a_bassinet.jpg'}}" alt="Bassinet" />
        <br>
        <strong>Bassinet</strong>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="checked"></div>
        <img src="{{assetPath 'quiz/q05b_crib.jpg'}}" alt="Crib" />
        <br>
        <strong>Crib</strong>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="checked"></div>
        <img src="{{assetPath 'quiz/q05c_co-sleeping.jpg'}}" alt="Co-Sleeping" />
        <br>
        <strong>Co-Sleeping</strong>
      </a>
    </li>
  </ol>
  <!-- / end  multiple choice list -->
  <!-- / question q03 ***** -->
</div>
<!-- end modal window content -->

<div class="button-row clearfix">
  <div class="mobile-button-row">
    <div class="col50 float-l left">
      <a href="#" class="button" id="bt-prev"><span class="ss-navigateleft"></span><span class="hide-mobile">Previous</span></a>
    </div>
    <div class="mobile-question-number">
        Question 4
    </div>
    <div class="col50 float-r right">
      <a href="#" class="button bt-color" id="bt-next"><span class="hide-mobile">Next</span><span class="ss-navigateright"></span></a>
    </div>
  </div>

  <!-- instructions -->
  <p>Skip this quiz <span class="hide-mobile">and</span> <a href="#" class="skip"><span class="hide-mobile">go to my list</span></a></p>
</div>


<!-- quiz progress bar -->
<div class="mobile-q-progress">
  <div id="q-progress" title="Step 2 of 9">
    <div class="bar"></div>
  </div>
</div>
<!-- end quiz progress bar -->
