<!-- modal window content -->
<div class="content">
  <!-- question q05 ***** -->
  I would consider these sleeping arrangements:
  <!-- begin multiple choice list -->
  <ol class="q-multi">
    <li>
      <a href="#">
        <div class="checked"></div>
        <img src="{{assetPath 'quiz/q05a_bassinet.jpg'}}" alt="Bassinet" />
        <br>
        <strong>Bassinet</strong>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="checked"></div>
        <img src="{{assetPath 'quiz/q05b_crib.jpg'}}" alt="Crib" />
        <br>
        <strong>Crib</strong>
      </a>
    </li>
    <li>
      <a href="#">
        <div class="checked"></div>
        <img src="{{assetPath 'quiz/q05c_co-sleeping.jpg'}}" alt="Co-Sleeping" />
        <br>
        <strong>Co-Sleeping</strong>
      </a>
    </li>
  </ol>
  <!-- / end  multiple choice list -->
  <!-- / question q03 ***** -->
</div>
<!-- end modal window content -->
<div class="button-row clearfix">
  <!-- instructions -->
  <p>Select one or more. Not sure? <a href="#" class="skip">Skip</a></p>
  <!-- previous and next buttons -->
  <div class="col50 float-l left">
  <a href="#" class="button" id="bt-prev"><span class="ss-navigateleft"></span>Previous</a>
  </div>
  <div class="col50 float-r right">
  <a href="#" class="button" id="bt-next">Next<span class="ss-navigateright"></span></a>
  </div>
</div>
<!-- quiz progress bar -->
<div id="q-progress" title="Step 5 of 9">
  <div class="bar"></div>
</div>
<!-- end quiz progress bar -->
