<!-- modal window content -->
<div class="content">
  <!-- question q06 ***** -->
  When it comes to traveling, I am a:
  <!-- begin slider questions-->
  <ol class="q-slider">
    <li>
      <a href="#">
        <img src="{{assetPath 'quiz/q06a_homebody.jpg'}}" alt="Homebody" />
        <br>
        <strong>Homebody</strong>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="{{assetPath 'quiz/q06b_jetsetter.jpg'}}" alt="Jetsetter" />
        <br>
        <strong>Jetsetter</strong>
      </a>
    </li>
  </ol>
  <div id="q-sliderscale">
    <div id="q-sliderarrow" class="active"></div>
  </div>
  <!-- / end slider questions-->
  <!-- / question q06 ***** -->
</div>
<!-- end modal window content -->

<div class="button-row clearfix">
  <div class="mobile-button-row">
    <div class="col50 float-l left">
      <a href="#" class="button" id="bt-prev"><span class="ss-navigateleft"></span><span class="hide-mobile">Previous</span></a>
    </div>
    <div class="mobile-question-number">
        Question 5
    </div>
    <div class="col50 float-r right">
      <a href="#" class="button bt-color" id="bt-next"><span class="hide-mobile">Next</span><span class="ss-navigateright"></span></a>
    </div>
  </div>

  <!-- instructions -->
  <p>Skip this quiz <span class="hide-mobile">and</span> <a href="#" class="skip"><span class="hide-mobile">go to my list</span></a></p>
</div>


<!-- quiz progress bar -->
<div class="mobile-q-progress">
  <div id="q-progress" title="Step 2 of 9">
    <div class="bar"></div>
  </div>
</div>
<!-- end quiz progress bar -->

