<!-- modal window close button -->
<a href="#" class="bt-close ss-icon">Close</a>
<!-- modal window content -->
<div class="content">
  <!-- question q06 ***** -->
  When it comes to traveling, I am a:
  <!-- begin slider questions-->
  <ol class="q-slider">
    <li>
      <a href="#">
        <img src="/assets/quiz/q06a_homebody.jpg" alt="Homebody" />
        <br>
        <strong>Homebody</strong>
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/assets/quiz/q06b_jetsetter.jpg" alt="Jetsetter" />
        <br>
        <strong>Jetsetter</strong>
      </a>
    </li>
  </ol>
  <div id="q-sliderscale">
    <div id="q-sliderarrow" class="active"></div>
  </div>
  <!-- / end slider questions-->
  <!-- / question q06 ***** -->
</div>
<!-- end modal window content -->
<div class="button-row clearfix">
  <!-- instructions -->
  <p>Slide between left and right, or <a href="#" class="skip">Skip</a></p>
  <!-- previous and next buttons -->
  <div class="col50 float-l left">
    <a href="#" class="button" id="bt-prev"><span class="ss-navigateleft"></span>Previous</a>
  </div>
  <div class="col50 float-r right">
    <a href="#" class="button bt-color" id="bt-next">Next<span class="ss-navigateright"></span></a>
  </div>
</div>
<!-- quiz progress bar -->
<div id="q-progress" title="Step 1 of 8">
  <div class="bar"></div>
</div>
<!-- end quiz progress bar -->
