<!-- modal window close button -->
<a href="#" class="bt-close ss-icon">Close</a>
<!-- modal window content -->
<div class="content">
  <!-- question q08-01 ***** -->
  <div id="q08-01" class="q-question">
    My zip code is:
    <form class="label-infield" id="frm-zip">
      <fieldset>
        <p>
          <label for="zip_code">Enter zip code</label>
          <br />
          <input name="zip_code" type="text" id="zip_code" value="">
        </p>
      </fieldset>
      <a href="#" class="button" id="bt-build">Build My List</a>
    </form>
  </div>
  <!-- / question q08-01 ***** -->
</div>
<!-- end modal window content -->
<div class="button-row clearfix">
  <!-- instructions -->
  <p><a href="#" class="skip">Skip this</a> and build my list.</p>
  <!-- previous and next buttons -->
  <div class="col50 float-l left">
    <a href="#" class="button" id="bt-prev"><span class="ss-navigateleft"></span>Previous</a>
  </div>
</div>
<!-- quiz progress bar -->
<div id="q-progress" title="Step 8 of 8">
  <div class="bar"></div>
</div>
<!-- end quiz progress bar -->
