jQuery(function() {
  $("body").prepend('<div id="fb-root"></div>');
  return $.ajax({
    url: "" + window.location.protocol + "//connect.facebook.net/en_US/all.js",
    dataType: 'script',
    cache: true
  });
});

window.fbAsyncInit = function() {
  FB.init({
    appId: '<%= FACEBOOK_CONFIG["app_id"] %>',
    status: true,
    cookie: true
  });

  var fbLogin = function(e) {
    return FB.login(function(response) {
      if (response.authResponse) {
        return window.location = "/users/auth/facebook/callback";
      }
    }, { scope: '<%= FACEBOOK_CONFIG["scope"] %>' });
  };

  var testApi = function() {
    // get friends
    console.log("looking up friends");
    FB.api('/me/friends?fields=id,name,picture', function(response) {
      console.log(response);
      console.log('Your name is ' + response.name);
    });
  };

  FB.getLoginStatus(function(response) {
    if (response.status === 'connected') {
      // connected
    } else if (response.status === 'not_authorized') {
      // not_authorized
    } else {
      // not_logged_in
    }
  });

  $("#create-account").on("click", "#bt-fb-connect", (function(e) {
    e.preventDefault();
    return fbLogin(e);
  }));

  $("#login-window").on("click", "#bt-fb-connect-s", (function(e) {
    e.preventDefault();
    return fbLogin(e);
  }));

  return $("#logout").click(function(e) {
    FB.getLoginStatus(function(response) {
      if (response.authResponse) {
        return FB.logout();
      }
    });
    return true;
  });
};
