<p>
  So you had your baby! Wow, huh? You’re madly in love, you’re up to your elbows in diapers, and you’re realizing sleep deprivation is a lot like jet lag but with more spit-up. You’ve also had a chance to try out much of the new gear that was gifted to you on your baby registry.
</p>
<p>
  This is a great time to come back to your baby registry and turn it into a list of recommendations for your expecting friends.
</p>
<p>
  Simply login to <%= link_to "Mamajamas", root_url %> and:
</p>
<ul>
  <li>Rate the products on your list that you’ve used</li>
  <li>Delete the ones you haven’t</li>
  <li>
    Add and rate other favorite gear from any website by using the <%= link_to "Mamajamas bookmark", faq_url(anchor: 'faq06') %>
  </li>
</ul>
<p>
  Be sure to send your new list along to your expecting parent friends. They be SO grateful for your wisdom. It’s amazing what you can learn in a few months, isn’t it?!
</p>
<p>
  Wishing you baby giggles and four hours of uninterrupted sleep,
  <br/>
  The Mamajamas Team
</p>
