#adminpage {
	background: #ecf1f4;
}

#adminpage #secondary {
	background: #fff;
	border-left: 1px solid #d1d1d1;
	border-right: 1px solid #d1d1d1;
}

#adminpage #secondary .content {
	padding:1px 20px 20px 20px;
	min-height:455px;
}

#adminpage #tertiary {
  padding-top: 10px;
}

