#adminpage {
	background: #ecf1f4;
}

#adminpage #secondary {
	background: #fff;
	border-left: 1px solid #d1d1d1;
	border-right: 1px solid #d1d1d1;
}

#adminpage #secondary .content {
	padding:1px 20px 20px 20px;
	min-height:455px;
}

#adminpage #tertiary {
  padding-top: 10px;
}

#adminpage form {
	font-size: 1.077em;
}
#adminpage #progress {
	display: none;
}
#adminpage h3 {
	font-size: 1.33em;
	font-weight: 300;
	color: #407c40;
	margin: 2em 0 1em;
	border-bottom: 1px solid #8cb58c;
}
#adminpage h3:first-child {
	margin-top: .75em;
}
#adminpage #title .instruction {
	font-size: .923em;
	color: #999;
}
#adminpage #title strong {
	color: #4d4d4d;
}
#adminpage dl {
	width: 99.9%;
}
#adminpage dt, #adminpage dd {
	float: left;
	margin-left: 1.9%;
}
#adminpage dt {
	color: #808080;
	clear: left;
	width: 15%;
	padding: .3em 0;
	text-align: right;
}
#adminpage dd {
	width: 81%;
}
#adminpage dd.half {
	width: 38.5%;
}
#adminpage fieldset.half {
	width: 52%;
}
#adminpage dd p {
	padding-left: .5em;
}
#adminpage dd em {
	font-style: normal;
}
#adminpage dd p input, #adminpage dd p textarea {
	margin-left: -.5em;
}
#adminpage dd.pad {
	padding: .3em 0;
}
#adminpage input[type="email"], #adminpage input[type="text"], #adminpage input[type="password"], #adminpage textarea {
	width: 96%;
	padding: 0.4em 0.5em;
}
#adminpage select {
  -webkit-appearance: menulist-button;
	width: 20%;
  height: 32px;
}
#adminpage form.label-infield fieldset p label {
	margin: 0.5em;
}
#adminpage form .instruction {
	font-size: .857em;
	color: #999;
}
#adminpage form p.instruction {
	margin-bottom: 1em;
}

#adminpage .action-nav {
  padding: 20px 15px;
}

#adminpage .table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
}

#adminpage .table thead {
  border-top: 1px solid #dee3ea;
}

#adminpage .table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

#adminpage .table tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

#adminpage .table tr th {
  display: table-cell;
  text-align: left;
  font-weight: bold;
  position: relative;
  padding-bottom: 20px !important;
  padding-top: 5px !important;
  text-transform: uppercase;
  font-size: 11px;
  vertical-align: top !important;
  border-bottom: 0px !important;
}

#adminpage .table tr td {
  font-size: 13px;
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  color: #526273;
  border-top-color: #edf2f7 !important;
  vertical-align: middle !important;
  display: table-cell;
}

#adminpage .table tr.no-border td {
  border: none;
}

#adminpage .table td.admin-notes {
  padding-left: 60px;
}

#adminpage .table tr.first td {
  border-top: 0 none;
}

#adminpage .admin-button {
  margin: 10px 0px;
  text-align: center;
}

#adminpage .admin-button a {
  width: 90px;
  text-align: center;
}

#adminpage .users-list .table img.avatar {
  float: left;
  margin-right: 14px;
  max-width: 45px;
  /* position: relative; */
  /* top: 8px; */
}

#adminpage .users-list .table .name {
}

#adminpage .users-list .table .subtext {
  font-size: 12px;
  margin-left: 0;
  color: #778391;
  font-style: italic;
  margin-top: 0;
}

#adminpage .users-list .table .user-actions a {
  text-align: center;
  margin-bottom: 10px;
  width: 90px;
}

#adminpage .user-list .table tr td:first-child {
  font-weight: bold;
  width: 200px;
}

#adminpage .user-list #user-notes {
  margin-bottom: 20px;
}

#adminpage .user-list #admin-notes {
  margin-bottom: 20px;
}

#adminpage .user-list #user-notes-form {
  text-align: right;
}

#adminpage .user-list #user-notes-form textarea {
  margin-bottom: 10px;
  height: 200px;
}

#adminpage .user-list #user-notes-form input[type=submit] {
}
