/* Mobile Global Styles */


/*-----------------------------
    Tablet or Larger
-------------------------------*/

.hide-mobile-block {
  display: block;
}

.hide-mobile-inline-block {
  display: inline-block;
}


/*-----------------------------
    Mobile
-------------------------------*/

@media (max-width: 400px) {

.profiler-results {
	/* This is for the Ruby Dev Tools */
	display: none;
}

	body {
		overflow-x: hidden;
	  	line-height: inherit;
	}

	#hed-wrap {

	  	#mainnav {
			display: none;
		}

		.beta {
			z-index: 50;
		}

		.tooltip-r {
			span {
				display: none;
			}
		}
	}

	/*-----------------------------
		Utilities and Helpers
	-------------------------------*/
    .hide-mobile,
	.hide-mobile-block,
	.hide-mobile-inline-block {
	  display: none !important;
	}
}
