@import "modules/_mixins-vendor-prefixes";



@media (max-width: 400px) {
	#user-login {
		h3,
		.instruction {
			display: none;
		}

		form#login-form {

			.center.instruction {
				display:block;
				position: absolute;
				bottom: 5.2rem;
				text-align: left;
				font-size: 0.8rem !important;

				br {
					display: none;
				}
			}

			.button-row {
				border: none;
				padding: 0;
				margin: 0;
			}
		}

		.divider > strong {
			display: none;
		}

		.helper {
			display: none;
		}



		.progress-container {
			#bt-cancel {
				display: none;
			}
		}
	}
}