/* merge these into style.css when collaboration is fixed up */
$autocomplete-height: 160px;

.progress-container {
  text-align: center;
}

.ui-autocomplete {
  max-height: $autocomplete-height;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: $autocomplete-height;
}

.when-txt {
  cursor:pointer;
}
.prod-drop-arrow {
  display:none;
}

.prod-filled .prod-thumb img {
  height: 60px;
}
