<h3>Welcome to Mamajamas and congratulations on your expanding family!</h3>
<p>
Thanks for signing up. My name is Angie Schiavoni, and I started building Mamajamas while expecting my first child a couple years ago. I was pretty overwhelmed by the process of setting up my nursery, and felt that there should be an easier way to know what is important to get (and what isn't!). With all the changes in your life right now, I hope Mamajamas will at least make figuring out what baby gear you need a little easier.
</p>
<p>To get started, please begin by letting us know that this is the right email for your account. You can do this by clicking this link:</p>
<p>
<%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %>
</p>
<p>Next, you can head to your list and track the products that you want by adding them there.
</p>
<p>If you haven't already, don't forget to follow some other parents' lists, so that you can get some ideas from them. Signing in through facebook will help you see if any of your friends already have made Mamajamas lists.</p>
<p>When you're ready, you can help other moms by sharing your list.</p>
<p>If you have any questions or suggestions, don't hesitate to email me directly at angie@mamajamas.com.</p>
<p>
Best,
<br/>
Angie Schiavoni
<br/>
Founder, Mamajamas
</p>
