<h3>Welcome to Mamajamas and congratulations to you!</h3>
<p>While this is undoubtedly an exciting time for you, it can also be a little overwhelming. We hope Mamajamas will at least make figuring out what you need to get for your baby a little easier.</p>
<p>Please take a moment to confirm your account email by clicking the link below:</p>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<p>As for next steps:</p>
<ul>
  <li>If you haven't already, take the mama-type quiz. This will help us customize our recommendations for you.</li>
  <li>Continue to build your list of baby gear.</li>
  <li>When you're ready, help other moms by sharing your list.</li>
</ul>
<p>If you have any questions or suggestions, don't hesitate to email us at: info@mamajamas.com.</p>
<p>Best,<br/></p>
<p>Angie Schiavoni</p>
<p>CEO, Mamajamas Inc.</p>
