<p>Hello <%= @resource.username %>!</p>

<% if @resource.facebook_connected? -%>
  <p>
    <strong>
      This email address is registered to an account that was created using facebook. Please try using the facebook login button to access it.
    </strong>
  </p>
  <p>If you still want to set a password, please follow the instructions below.</p>
  <hr/>
<% end -%>

<p>Someone has requested a link to change your password, and you can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
