<%= content_for :tertiary do %>
  <div id="admin-nav">
    <%= link_to "admin", "/admin" %> &gt; users
  </div>
  <%= render 'actions' %>
<% end -%>

<div class="users-list">
  <h2>Registered Users</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>URL slug</th>
        <th style="width: 100px;">Public List?</th>
        <th>Signed Up</th>
        <th>Last Active</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <%= render partial: 'user_row', collection: @view.registered, as: :user %>
    </tbody>
  </table>
</div>
<script type="text/javascript">
$(".users-list .bt-become").click(function(event) {
  return confirm("Are you sure you want to impersonate this user?");
});
$(".users-list .bt-user-delete").click(function(event) {
  return confirm("Are you sure you want to delete this user?");
});
</script>
