<td class="own">
  <input id="own01" type="checkbox" title="Do you own this item?" disabled="disabled">
  <label for="own01">I own this item.</label>
</td>
<td class="item">
  <div class="prod-thumb">
    <img src="/assets/products/icons/{{productType.image_name}}" alt="bottle">
  </div>
  <div class="prod-desc">
    <div class="prod-category">{{productType.name}}</div>
    <div class="prod-links">
      <ul>
        <li>
        <a href="#" class="add-item button bt-color"><span class="ss-plus"></span>Add</a></li>
        <li>
        <a href="#" class="button">Get Recommendations</a>
        </li>
      </ul>
    </div>
  </div>
</td>
<td class="rating">&nbsp;</td>
<td class="when">
  <div class="when-txt">{{productType.when_to_buy}}</div>
</td>
<td class="priority">
  {{priorityIndicator productType.priority}}
</td>
