<img style="display: none" src="{{assetPath 'bookmark_button.png'}}" alt="Add to Mamajamas" id="btbookmark" class="btbookmark" />
<div class="content">
</div>
<div style="text-align: center;">
  <a href="#" class="bt-done button">Done</a>
</div>

<div style="display: none;" class="drag-target">
  <h2>Add baby gear to your registry from any store on the Web</h2>
  <h3>Install the <strong>Add to Mamajamas</strong> bookmark.</h3>
  {{bookmarkletLink ''}}
  <ol>
    <li>
      Drag the button at left to your bookmarks bar.
      <div id="bookmark-arrow"></div>
    </li>
    <li>
      Find any product on the Web that you want to add to your baby gear registry.
    </li>
    <li>
      Click the “Add to Mamajamas“ button on your bookmark bar to add it to your registry.
    </li>
  </ol>
  <p class="bookmark-modal-left">
    <a href="#" class="bookmark-help">Where's my bookmarks bar?</a>
  </p>
</div>

<div style="display: none;" class="help-target">
  <h2>Where’s the bookmarks bar?</h2>
  <h3>It’s usually right under the address bar. If not, try this:</h3>
  <div id="bookmark-arrow2"></div>
  <p class="help-label">the Bookmarks, or “Favorites” bar</p>
  <ul>
    <li>
      In <strong>Chrome</strong>, go to
      <em>View: Always Show Bookmarks Bar</em>.
    </li>
    <li>
      In <strong>Firefox</strong>, go to:
      <em>View: Toolbars and select Bookmarks Toolbar</em>.
    </li>
    <li>
      In <strong>Safari</strong>, go to
      <em>View: Show Favorites Bar</em>.
    </li>
    <li>
      In <strong>IE</strong>, go to
      <em>View: Toolbars: Favorites bar</em>.
      (Browser menu bar hidden? click the Alt key.)
    </li>
  </ul>
  <p>
    <a href="#" class="bookmark-help bookmark-modal-return">
      <span class="ss-navigateleft"></span>Back
    </a>
  </p>
</div>