<!-- modal window content -->
<div class="content">
  <h2>Welcome to your personalized list of baby gear.</h2>
  <ul>
    <li> <strong>What's in it:</strong>
      <ul>
        <li><span class="ss-navigateright"></span> Gear we think you'll need (based on your quiz results).</li>
        <li><span class="ss-navigateright"></span> Products we think you'll love.</li>
      </ul>
    </li>
    <li> <strong>What you can do with it:</strong>
      <ul>
        <li><span class="ss-navigateright"></span> Keep track of things you want or already have.</li>
        <li><span class="ss-navigateright"></span> Get product advice from parents like you.</li>
        <li><span class="ss-navigateright"></span> Share your list with others.</li>
      </ul>
    </li>
    <li> <strong>How to start:</strong>
      <ul>
        <li><span class="ss-navigateright"></span> Click the "change" button to see different products to add to your list.</li>
        <li><span class="ss-navigateright"></span> Save your list by clicking the "save" button and following the prompts.</li>
      </ul>
    </li>
  </ul>
</div>
<!-- end modal window content -->
<div class="button-row clearfix">
  <a href="#" class="bt-done button">Done</a>
</div>

<div style="display: none">
  <div id="choose-balloon">
    <div id="info01" class="info-balloon info-right info-short"><span></span>Get product suggestions.</div>
  </div>
</div>
