<div class="modal-wrap" style="display:block;">
  <div class="modal-overlay overlay-light"> &nbsp; </div>
  <div class="modal-scaling">
    <!-- modal window box -->
    <div class="modal-box modal-dark" id="listintro">
      <!-- modal window close button -->
      <a href="#" class="bt-close ss-icon">Close</a>
      <!-- modal window content -->
      <div class="content">
        <h2>Welcome to your personalized list of baby gear.</h2>
        <ul>
          <li> <strong>What's in it:</strong>
          <ul>
            <li><span class="ss-navigateright"></span> Things we think you'll need for your baby or toddler (based on your quiz results).</li>
          </ul>
          </li>
          <li> <strong>What you can do with it:</strong>
          <ul>
            <li><span class="ss-navigateright"></span> Keep track of things you want or already have.</li>
            <li><span class="ss-navigateright"></span> Get product advice from parents like you.</li>
            <li><span class="ss-navigateright"></span> Share your list with others.</li>
          </ul>
          </li>
          <li> <strong>How to start:</strong>
          <ul>
            <li><span class="ss-navigateright"></span> Click a "Choose" button to find products to add to your list.</li>
          </ul>
          </li>
        </ul>
      </div>
      <!-- end modal window content --> 
      <div class="button-row clearfix">
        <a href="#" class="bt-done button">Done</a>
      </div>
    </div>
    <!-- end modal window box --> 

    <!-- info balloons -->
    <ul class="info-balloons">
      <li id="info1"><span></span>Product Categories</li>
      <li id="info2"><span></span>Click here for product suggestions.</li>
      <li id="info3"><span></span>Once you own an item, check this box.</li>
    </ul>
    <!-- end info balloons -->

  </div><!-- end modal scaling -->
</div>

