<!-- modal window content -->
<div class="content">
  <h2>Welcome to your personalized baby registry.</h2>
  <ul>
    <li> <strong>What's in it:</strong>
      <ul>
        <li><span class="ss-navigateright"></span> A list of gear we think you'll need (based on your quiz results).</li>
        <li><span class="ss-navigateright"></span> Products we think you'll love.</li>
      </ul>
    </li>
    <li> <strong>How to begin:</strong>
      <ul>
        <li><span class="ss-navigateright"></span>  Customize your registry by deleting the products you don't want or swapping them out for other products using the <span class="ss-icon ss-search" style="margin: 0px 3px 0px 3px;"></span> "swap" button.</li>
        <li><span class="ss-navigateright"></span> Get the Mamajamas Bookmark to add your own products from anywhere on the web.</li>
      </ul>
    </li>
  </ul>
</div>
<!-- end modal window content -->
<div class="button-row clearfix">
  <a href="#" class="bt-done button">Done</a>
</div>

<div style="display: none">
  <div id="choose-balloon">
    <div id="info01" class="info-balloon info-right info-short"><span></span>Get product suggestions.</div>
  </div>
</div>
