<!-- modal window content -->
<div class="content">
  <h2>Welcome to your personalized baby registry.</h2>
  <ul>
    <li> <strong>What's in it:</strong>
      <ul>
        <li><span class="ss-navigateright"></span> A list of gear we think you'll need (based on your quiz results).</li>
      </ul>
    </li>
    <li> <strong>How to begin:</strong>
      <ul>
        <li><span class="ss-navigateright"></span> Click a "Choose" button to find products to add to your registry.</li>
        <li><span class="ss-navigateright"></span> Browse other registries for more ideas.</li>
        <li><span class="ss-navigateright"></span> When you're finished customizing your registry, send it off to family and friends!</li>
      </ul>
    </li>
  </ul>
</div>
<!-- end modal window content -->
<div class="button-row clearfix">
  <a href="#" class="bt-done button">Done</a>
</div>

<div style="display: none">
  <div id="choose-balloon">
    <div id="info01" class="info-balloon info-right info-short"><span></span>Get product suggestions.</div>
  </div>
</div>
