<!-- baby gear table ******* -->
<table width="100%" cellspacing="0" id="babygear">
  <thead>
    <tr>
      <th scope="col" class="own" data-sort="owned">Own</th>
      <th scope="col" class="item" data-sort="name">Item</th>
      <th scope="col" class="rating" data-sort="rating">Rating</th>
      <th scope="col" class="when" data-sort="age">When to Buy</th>
      <th scope="col" class="priority" data-sort="priority">Priority</th>
    </tr>
  </thead>
</table>
<!-- end baby gear table ******* -->

