<div id="listcontrols" class="clearfix">
  {{#if has_recommended_items}}
    <div id="prod-rec" class="menu-icon">
      <form method="POST" action="/list/clear_recommended/{{category_id}}" class="clear-recommended">
        <input type="hidden" name="authenticity_token">
        <a href="#" class="tooltip">
          Clear Recommended
          <span>Clear Mamajamas-recommended items<em></em></span>
        </a>
      </form>
    </div>
  {{/if}}
  <div class="listsort">Sort by:
    <div class="choicedrop list-sort"> <a href="#">Importance <span class="ss-dropdown"></span></a>
      <ol style="display:none; width:7.5em;">
        <li><a href="#rank" data-sort="rank">Importance</a></li>
        <li><a href="#age" data-sort="age">When to buy</a></li>
        <li><a href="#name" data-sort="name">Name (A - Z)</a></li>
        <li><a href="#rating" data-sort="rating">Rating</a></li>
        <li><a href="#updated_at" data-sort="updated_at">Last Updated</a></li>
      </ol>
    </div>
  </div>
  <div class="listsort">Filter by Age:
    <div class="choicedrop list-age-filter"> <a href="#">All ages <span class="ss-dropdown"></span></a>
      <ul style="display:none; width:7.5em;">
        <li><a href="#">All ages</a></li>
        <li><a href="#">Pre-birth</a></li>
        <li><a href="#">0-3 mo</a></li>
        <li><a href="#">4-6 mo</a></li>
        <li><a href="#">7-12 mo</a></li>
        <li><a href="#">13-18 mo</a></li>
        <li><a href="#">19-24 mo</a></li>
        <li><a href="#">2y</a></li>
        <li><a href="#">3y</a></li>
        <li><a href="#">4y</a></li>
        <li><a href="#">5y+</a></li>
      </ul>
    </div>
  </div>
</div>
