<div id="listcontrols" class="clearfix">
  <div class="listhed">
    <h3>{{category_name}}</h3>
  </div>
  <div class="listsort">Sort by:
    <div class="choicedrop"> <a href="#">When to buy <span class="ss-dropdown"></span></a>
      <ol style="display:none; width:7.5em;">
        <li><a href="#age" data-sort="age">When to buy</a></li>
        <li><a href="#name" data-sort="name">Name (A - Z)</a></li>
        <li><a href="#rating" data-sort="rating">Rating</a></li>
      </ol>
    </div>
  </div>
</div>
