<div id="listcontrols" class="clearfix">
  <div id="prod-rec" class="menu-icon">
    <form method="POST" action="/list/clear_recommended/{{category_id}}" class="clear-recommended">
    <input type="hidden" name="authenticity_token">
    <a href="#" class="tooltip">
      View Recommendations
      <span>View Mamajamas-recommended items<em></em></span>
    </a>
    </form>
  </div>
  <div class="listsort">
    <span class="listsort-label">Filter by Age:</span>
    <div class="choicedrop list-age-filter"> <a href="#">All ages <span class="ss-dropdown"></span></a>
      <ul style="display:none; width:7.5em;">
        <li><a href="#">All ages</a></li>
        <li><a href="#">Pre-birth</a></li>
        <li><a href="#">0-3 mo</a></li>
        <li><a href="#">4-6 mo</a></li>
        <li><a href="#">7-12 mo</a></li>
        <li><a href="#">13-18 mo</a></li>
        <li><a href="#">19-24 mo</a></li>
        <li><a href="#">2y</a></li>
        <li><a href="#">3y</a></li>
        <li><a href="#">4y</a></li>
        <li><a href="#">5y+</a></li>
      </ul>
    </div>
  </div>
  <div class="listsort">
    <span class="listsort-label">Filter by Available:</span>
    <!-- drop-down menu -->
    <div class="choicedrop list-available-filter"> <a href="#">All <span class="ss-dropdown"></span></a>
    <ul style="display:none; width:7.5em;">
      <li><a href="#">All</a></li>
      <li><a href="#">Available</a></li>
      <li><a href="#">Not available</a></li>
    </ul>
    </div>
    <!-- /drop-down menu -->
  </div>
</div>
