<div id="listcontrols" class="clearfix">
  <div class="listhed">
    <h3>{{category_name}}</h3>
  </div>
  <div class="listsort">Sort by:
    <!-- drop-down menu -->
    <div class="choicedrop"> <a href="#">Priority <span class="ss-dropdown"></span></a>
      <ol style="display:none; width:7.5em;">
        <li><a href="#">Priority</a></li>
        <li><a href="#">When to buy</a></li>
        <li><a href="#">Need / Have</a></li>
      </ol>
    </div>
    <!-- /drop-down menu -->
  </div>
</div>
<!-- baby gear list content *************** -->
